[2015-11-09 23:20] mcdemon05 opened #1 "over 1000 connections, not enstablish..."
i compile hub on Debian system
and i have a problem: if to hub connect 980-1000 users
other users don't connect to hub... connection time out...

in config hub -     max_users = 5000,  -- max users (integer)

Help me please :)

Sorry for bad english.

[2015-11-10 06:32] blasti commented on #1
luadch can only handle 1024 open sockets on linux. this is due to FD_SETSIZE.
this is an annoying problem, see also

https://www.google.de/#q=FD_SETSIZE+linux

on the other hand, luadch should swallow more then 1000 connections running on windows.

[2015-11-10 06:47] mcdemon05 commented on #1
How fix this problem in debian?

[2015-11-10 07:13] blasti commented on #1
there seem to be some hacks to "fix" this FD_SETSIZE issue on linux, but nothing i call reliable.
years ago i wrote a libevent based branch of luadch, which hasn't those limitations, but
overall there was no interest in it (you are the first one who tries to run the hub with more than 1000 users), and so i did not develop it further.
probably the best thing would be to write some proxy, which runs

[2016-02-19 16:38] dchublistdotorg opened #2 "New LUADCH v2.17 [2016-01-21]"
I downloaded it - edited config changed port and hub starts fine however cant connect to it using dc/++ stated connection timed out. What am i doing wrong?

[2016-02-20 08:54] Sopor commented on #2
Luadch use TLS v1.2 as default and latest DC++ have no support for TLS v1.2. Either change to TLS v1.0 or use another DC client. [AirDC++](https://github.com/airdcpp/airgit/releases) will work with TLS v1.2.

[2016-02-22 16:44] pulsar-de commented on #2
For more informations read this fixed DC++ issue:
[https://sourceforge.net/p/dcplusplus/code/ci/285f7c38fc3fff087d772a1d4c76ee5761494fea/](url)
And here is the Launchpad conversation about it:
[https://bugs.launchpad.net/dcplusplus/+bug/1484807](url)

[2016-02-22 16:44] #2 closed, assigned to nobody

[2016-03-06 02:02] ghost opened #4 "Request : FreeBSD binary"
Hi,

Is there any chance we could get a FreeBSD binary along with the ones that are already provided such as Debian and RaspberryPi etc..

I love luadch but I am having a very hard time compiling it from source on FreeBSD.

Thanks.

[2016-03-08 14:44] seabert opened #5 "Time strings vs timestamps"
I noticed that in the user table that time strings are being used instead of epoch timestamps. That seems like a poor choice, since that allows for timezones and day saving times to mess up those time strings. Epoch timestamps also allows to represent dates&time in other ways preferred by the hubowner.

But maybe it was chosen like this for a purpose?

[2016-03-08 14:54] seabert opened #6 "Luadch doesn't really daemonize"
I've been playing with luadch just for a few days, but I don't seem to be able to get the binary to fully daemonize. In other words I don't get my shell back after launching, even when using the -r flag (but not certain that is meant for that purpose).

My current workaround is to run luadch using the start-stop-daemon command as root:
`start-stop-daemon -u dcpp --exec /path/to/luadch/luadch -d /p

[2016-03-08 15:00] seabert opened #7 "Luasec doesn't work out of the box (on Debian 64-bit)"
I tried using luadch as the precompiled Debian build and also as compiled from source. With both ways luasec doesn't work. In the end I resolved this by installing the lua-sec packages and symlink the files to the luadch directory.

[code]

[2016-03-08 15:07] seabert opened #8 "Debian build is compiled for 32-bit, need extra libs on 64-bit machines"
For the Debian build of luadch, one need extra libs on 64-bit only machines. I'm not certain which ones exactly, but at least `lib32stdc++6` and probably others. This should at least be documented, _or_ the build should be made 64-bit, since most modern installs are 64-bit anyway.

[2016-03-08 16:12] seabert opened #9 "Make it possible to bind to specific ip-address(es), not just 0.0.0.0/::"
It would be nice if it would be possible to let luadch bind to specific ip-address(es). I have multiple ip-addresses at my VPS and I don't want luadch to listen on all of them. I've seen in `server.lua` that the code is ready for this, so a simple change should suffice.

[2016-03-29 18:37] tarulas commented on #6
Would fix really help? systemd/daemontools/runit prefer it as is. start-stop-daemon works too.

[2016-08-04 08:18] blasti commented on #8
Hi seabert,
I recommend to compile luadch on Linux from source by using the "compile_with_gcc.sh" shell script.
For instance on my Debian 64-bit system I only had to "apt-get install libssl-dev", which installs the development stuff of openssl, and after that the compilation
went through without issues.

[2016-08-04 08:19] #8 closed, assigned to nobody

[2016-08-04 08:25] #7 closed, assigned to nobody

[2016-08-04 08:30] blasti commented on #7
Hi seabert,
luasec should work now if you compile luadch from source.
I merged tarulas fix.

[2016-08-04 08:36] blasti commented on #6
Hi seabert,
you can use

./luadch &

to get your shell back.

[2016-08-04 08:37] blasti commented on #5
Hi seabert,
i have to think about this.

[2016-08-04 08:58] seabert commented on #6
@blasti sure, but when you run it like that and then logout of the shell, the program will be killed.

My issue is that for a user that has a shell without root all the things that @tarulas mentioned won't work. Even more, running luadch through these kind of tools (via root) is hackish imho.

[2016-08-04 09:08] #9 closed, assigned to nobody

[2016-08-04 09:20] blasti commented on #9
I merged tarulas fix,
now you can add a new option like this to the cfg.tbl:

hub_listen = { "x.x.x.x", "y.y.y.y", "z.z.z.z" },

Hope that helps.

[2016-08-04 09:45] blasti commented on #6
I see. So if you want your shell back, and want luadch to run without root and beyond logout, maybe it helps to just use screen or tmux?

I agree that this would be a nice feature. But as far as I understand it, adding this feature would be non-trivial, expecially if we also want it to work on windows. There are some other things I want and need to do first.

[2016-08-04 14:58] Sopor commented on #9
It would be much better if i could use my network interface name. If you bind it to a public IP address and you get a new IP address (DHCP) you will need to change it in Luadch too. Instead it should be possible to use eth0 or in Windows you get as default "Local area network" but it is possible to change it to whatever you want. This is what Luadch should use instead of binding to an IP address.

[2016-08-04 15:01] Sopor commented on #6
I use `tmux`

[2016-08-04 18:33] blasti commented on #9
you can also use  hostnames, e. g.

hub_listen = { "localhost", "192.168.2.1", "blabla.no-ip.org"},

[2016-08-04 18:38] seabert commented on #9
Or just leave it empty to bind to all interface (i.e. behave as before), I presume?

[2016-08-04 19:48] Sopor commented on #9
@seabert the problem was that i don't want it to connect from LAN so i bind it to my public IP address but if it works like @blasti says that i can even add a ddns, then it should be enough (i think). I have never seen this before though, so is this really to "bind" an IP address?

[2016-08-04 19:49] blasti commented on #4
ok, i did some tests on an fresh default install of freebsd 10.3 64bit.
added a new shell script called

build_with_freebsd.sh

to the root directory of the luadch source (its basically the same as the gcc build script).
to compile luadch on freebsd, do the following:

`# pkg install git rsync`
`$ git clone https://github.com/luadch/luadch.git`
`$ cd luadch`
`$ chmod u+x compile_with_freebsd.sh`
`

[2016-08-04 19:54] blasti opened #13 "cmd_hubinfo does not work on freebsd"
somebody should fix this.

[2016-08-04 19:54] #4 closed, assigned to nobody

[2016-08-04 19:56] blasti commented on #9
from the luasocket manual:

[2016-08-07 20:04] Kungen123 opened #14 "usr_uptime.lua Wrong time"
The script must save the time more often than at logout. Maybe every 10min or so.
Now you lose a lot of time every month.
Im online 24/7 here and here is my log in a hub.
I've lost several days already this month

Uptime Statistik von:  Kungen™

[code]

[2016-08-07 20:19] Sopor commented on #14
I have been online the whole month in the same hub and after i did a reconnect i now have been online: `2016    August      1 Tage, 8 Stunden, 52 Minuten, 14 Sekunden`. This can't be right and i see the same behavior in other hubs too.

[2016-08-07 20:34] Kungen123 commented on #14
yes i see it in other hubs too.

[2016-08-08 12:55] Sopor opened #15 "CCPM from allowed level to lower levels will not work"
If you have disabled CCPM for level 20 and level 100 is allowed to use it the user with level 100 can't connect with CCPM, but the user with level 20 can if they try to connect to each other.
If two different levels use PM the user with the highest level should be prioritised, so in this case both user should be able to use CCPM to each other.

[2016-08-08 13:00] Sopor opened #16 "pm2offliners - attempt to get length of field '?'"
I'm not a Lua expert but i believe this error (loop, because it was repeated every second) happens if you login but you get kicked out for another reason. Maybe you have too many slots open or you are in too many hubs.
`scripts.lua: script error: ././scripts/cmd_pm2offliners.lua:237: attempt to get length of field '?' (a nil value) (listener: onTimer; script: 'cmd_pm2offliners.lua')`

[2016-08-08 15:39] blasti commented on #15
i cannot confirm, that low level users without CCPM flag can connect to user with CCPM flag. in my tests, the connection attempt just got stuck, there was no message of success. even if this is possible, i would not consider it as a bug. the only purpose of the script is to prevent low level user to use CCPM, to give the hub the possibility to spy on the private messages users.

1) i really dont l

[2016-08-08 16:09] Sopor commented on #15
Of course this is a bug. If you prevent low level users from using why can i then connect to high level users? You have to test it with two different users with different IP addresses. I believe when the user gets blocked it will block both users because they use the same IP address.

[2016-08-08 16:14] Kungen123 commented on #15
yes i think its a bug like Sopor. and i know that its a hole lot of work to fix it

[2016-08-08 23:06] blasti commented on #16
should be fixed now. thanks for the report! found other nasty bugs too.

[code]

[2016-08-08 23:06] #16 closed, assigned to pulsar-de, blasti

[2016-08-09 02:38] blasti commented on #15
fixed with ccpm_blocker2.0

[2016-08-09 02:39] #15 closed, assigned to blasti

[2016-11-19 11:00] Ch0kehold opened #17 "Offline users don't get delregged"
According to hubinfo, the hub has been online for at least a couple of days:
[code]
However, since at least session started counting, a few users have been offline for more than the allowed time.
[code]
This is in accordance with the 365 day limit on both level 20 and level 50 users.

I understand not running a scan and delreg at startup but it should at least delreg like it's supposed to while se

[2016-12-01 11:14] seabert opened #18 "server.lua: function 'addserver': luasec not found"
When starting luadch, I managed to get `init.lua: loaded 'ssl'`, but the error in the title of this issue still gets logged and no SSL port is being opened.

Last time I had this issue, I could fix it by symlinking my systems luasec into the library directory (see issue #7). But now I can't seem to work around it. I tried to recompile both the latest release as well as current master, and use the

[2016-12-01 21:08] seabert commented on #18
Okay, after long trying and fiddling, I got a temporary fix.

As said, I don't use the shipped libs (i.e. luasec and basexx). They don't work for me. I've symlinked those from the packages of my system. That fixes for me that `init.lua` can load them.

To fix that `server.lua` finds luasec and got my hub back online, I changed:
[code]

to

[code]

I'm aware this is not how it supposed to be, but i

[2016-12-12 19:49] #18 closed, assigned to nobody

[2017-02-23 17:14] maksis opened #19 "Valid UTF-8 messages are ignored"
Try to send a chat message containing a UTF-8 emoji, such as 🌍, and it will never be displayed. No error messages. The latest versions of ADCH++ and uhub (git) are working fine.

If you use AirDC++, you must have the latest dev build (or use the Web UI).

[2017-02-23 18:08] blasti commented on #19
cannot confirm using airdc 3.31. did not test the airdc dev build though. is it available somewhere?

[2017-02-23 18:12] maksis commented on #19
http://builds.airdcpp.net/updater/updater_x64_3.40a-96-g784ad.zip

[2017-02-23 18:49] blasti commented on #19
ok i tried airdc 3.40a-96.

i copied a utf8 emoji from the internet into mainchat. symbol is not shown in mainchat text line (only some placeholder rectangle). after sending it, luadch reports invalid utf8 string and discards the message.

if i do the same with airdc 3.31, the symbol is not shown in the mainchat text line too, but an "empty" message will be broadcasted by luadch. luadch reports va

[2017-02-23 19:49] maksis commented on #19
When comparing the validation code, the logic looks somewhat different to me (especially after the commit "Add support for 4 byte UTF-8 characters and stricter character checking"): https://github.com/janvidar/uhub/blob/master/src/util/misc.c#L66

AirDC++ 3.31 is known not work correctly, which is why I mentioned it in the report.

I'm able to paste the emoji without seeing any placeholder rectang

[2017-02-24 09:57] maksis opened #20 "Add IPv6 support"
AirDC++ also has support for the [HBRI ADC extension](https://forum.dcbase.org/viewtopic.php?t=771)

[2017-02-24 14:40] maksis opened #21 "Forward commands correctly based on their type"
The current forwarding logic with full hardcoded FOURCC codes feels really NMDCish and violates the protocol specifications. The user won't even be notified if the message wasn't forwarded so it's hard for him to recognize that the problem lies in the hubsoft.

[2017-02-24 14:43] maksis commented on #19
Is this issue supposed to be closed?

[2017-02-24 16:12] blasti commented on #19
as i dont see how to reproduce the problem, i dont see how to fix it. once could use the latest uhub utf8 validation code tough.

[2017-02-24 16:12] blasti commented on #21
can you give an illustration of what you mean?

[2017-02-24 16:39] maksis commented on #21
http://adc.sourceforge.net/ADC.html#_general

[2017-02-24 16:53] maksis commented on #19
So the issue is that you can't copy-paste the symbol as it is? Did you try the Web UI, as I also suggested? If you can't copy-paste the symbol even in the browser, then it won't obviously help. Do you have an exotic system setup or old Windows version? [Character information](http://www.charbase.com/1f30d-unicode-earth-globe-europe-africa) for a possible validation function test.

[2017-02-24 16:53] blasti commented on #21
luadch should dispatch unkown parameters since [https://github.com/luadch/luadch/commit/c0dbf3b1545c410214ebcf45c74a26ce2f3b786b](https://github.com/luadch/luadch/commit/c0dbf3b1545c410214ebcf45c74a26ce2f3b786b)

[2017-02-24 16:56] maksis commented on #21
But not unknown FOURCC codes, right? https://github.com/luadch/luadch/blob/master/core/hub.lua#L1736

[2017-02-24 17:05] blasti commented on #19
correct, i cannot copy paste this symbol as it is. i tried different browsers, on windows 7 and linux.
looks always like this rectangle: [http://imgur.com/a/rxDzA](http://imgur.com/a/rxDzA)
similar rectangle appears in airdc 3.31/3.4.

[2017-02-24 17:10] maksis commented on #19
Ah. But yes, I believe that updating the validation code will fix the issue.

[2017-02-24 17:16] blasti commented on #21
if you mean by FOURCC something like "BMSG", then you can find [here](https://github.com/luadch/luadch/blob/master/core/hub.lua#L1736), which are dispatched.

it is up to the hub to decide, whether it dispatches unkown stuff or not.

as far as i read this, there is no violation to not dispatch unknown stuff

[2017-02-24 17:20] blasti commented on #21
do you have a useful example of a FOURCC, which you would like to see dispatched by luadch?

[2017-02-24 17:22] blasti commented on #19
ok, i need to look into this

[2017-02-24 18:57] night-z commented on #21
It breaks the extendability of ADC protocol without the hubsoft constantly updating if it doesnt forward those commands. Who can say you will be there to add every new command there will be?

[2017-02-24 20:53] maksis commented on #21
[code]

As a script writer, I would expect the `targetuser` parameter to be available for both of those D-type messages. `DINF` is another perfectly valid code that is not handled at the moment and would cause the same inconsistency for the scripts.

Assume the following generic code, that would be executed for all handled messages:

[code]

... where `cmd` would be the three letter command (such

[2017-02-24 23:46] blasti commented on #21
@night-z  in the worst case one can simply fork luadch? we are talking about free software here.

at the moment i dont see the benefit to simply forward every message without checking or progressing it.

the current approach in the `hub.lua`  and `adc.lua` works like a whitelist, and i am happy with that.

if you name me concrete examples you want to have forwarded i will look at it and add it.

w

[2017-02-25 01:21] blasti commented on #19
updated validation code in [https://github.com/luadch/luadch/commit/52aabc3a21d3e601ed4b30fafa13860920baec1e](https://github.com/luadch/luadch/commit/52aabc3a21d3e601ed4b30fafa13860920baec1e)

[2017-02-25 07:06] maksis commented on #21
That's exactly not what they should be doing. The type just tells the hubsoft how to forward the command (and is not part of the actual command), which is why I wrote

Naturally the type can be provided separately, if needed. The actual commands (SCH, MSG, CTM...) should be easy to understand.

Forwarding commands based on the type in ADCH++: https://sourceforge.net/p/adchpp/code/ci/default/tree/a

[2017-02-25 15:06] blasti commented on #21
ok, if one does not listen for the actual FOURCC event, but only for command event, scripting gets even _more_ ugly.

in current approach, if i listen for mainchat messages in a script, for instance because i want to deflood the mainchat, i simply listen for "onBroadcast".

if i would listen for FOURCC events, i would need to listen for "FMSG" and "BMSG".

using your suggestion, i would listen to

[2017-02-25 15:43] maksis commented on #21
That's still a bit different than my original (quick) proposal.

[code]

(I'm not familiar with LUA)

I would avoid using the message types as much as possible. I'm sure that are also ways to make the idea better. The main point was that such listener could also be used to allow scripts to handle "unknown" messages as well.

Possibly there could be a script that lists "known" command names and rep

[2017-02-25 22:37] maksis commented on #21
I've been initially considering to extend the [AirDC++ API](http://docs.airdcpp.apiary.io/#) to handle raw ADC commands, that could be used to exchange custom data with the hub or with other users. That would allow scripts writers to even develop their own ADC extensions.

Enabling such API functionality in hubs using a hubsoft that is not built to be extensible would make no sense though. It cert

[2017-02-25 22:43] blasti commented on #21
i always thought that if one wants to extend ADC, one hands in a proposal at dcbase or elsewhere, then implementing it using something like HSUP ADBASE...  etc pp. what you talking about sounds like complete freedom to do whatever is possible.

[2017-02-26 08:12] night-z commented on #21
Its pretty much impossible to develop and test new extensions if it needs hub side changes first. It also takes the interest from developing such things when you have to wait until hubsoft forwards it, then you have to wait until hubowners upgrade their hubsoft, that can take even a year or more.

Handling unknown FourCC by sending it to scripts listener sounds like a reasonable solution for me, i

[2017-02-26 09:59] maksis commented on #21
Hmm... are you talking about the scripting API? DC++ has had a plugin API for years and ADC extensions have been implemented on top of it (it's probably safe to assume that Luadch ignores those extensions without even checking the code). I'm not sure that how any of this affects the process of creating ADC extensions.

I also wrote

A concrete (verbose) example:

```An unlisted protocol command OI

[2017-02-26 12:38] blasti commented on #21
ok i changed the forward logic

added a generic script listener ("onIncoming")

added blacklist to hub_cmd_manager, blocks same adc commands as uhub

see [https://github.com/luadch/luadch/commit/0b7cf2206404f073eebbbe633c90447b76a99b4a](https://github.com/luadch/luadch/commit/0b7cf2206404f073eebbbe633c90447b76a99b4a)

[2017-02-26 15:33] maksis commented on #21
👍

[2017-02-26 18:53] #21 closed, assigned to nobody

[2017-02-27 21:03] blasti commented on #19
ok the new validation code of uhub  does not work properly.  many scripts are now reported to be non utf8, despite the fact that they are. either the original code is buggy, or I did a bad copy paste job.

[2017-03-08 13:43] maksis commented on #19
Validation done by clients based on DC++ is rather simple: https://sourceforge.net/p/dcplusplus/code/ci/default/tree/dcpp/Text.cpp#l260

[2017-04-08 20:23] Sopor opened #22 "ungag won't work if the user is offline"
If i gag a user and the user goes offline i can't ungag until the user is online again. Quite annoying if i have to sit and wait for the user to come online again to ungag the user.

[2017-05-09 17:19] maksis commented on #21
What kind of plans do you have in regards of getting this change released? I'd like to start recommending Luadch, but it's somewhat awkward given that certain client features are blocked with the current release version.

[2017-05-09 20:36] blasti commented on #21
the next release of the latest git version is scheduled for this week.

[2017-05-11 21:43] Sopor opened #23 "TRAFFIC MANAGER - can't block/unblock users that are offline"
TRAFFIC MANAGER can't block users that are offline. Sometimes you need to do that but as it is now this is not possible. I believe it is the same when i unblock.

[2017-05-16 20:56] Sopor opened #24 "When using +disconnect username it will not verify if the user exists"
When using `+disconnect username` it will not verify if the user exists. It will only show the message `User is offline.`. If i use the context menu (RC) it works.

[2017-05-16 21:01] Sopor opened #25 "when you change password it will still show the old password"
If you change a user's password and you use the RC in the user list it will still show the old password. To get the new password you have to use the hub tab and type in the users name like this `+accinfo nick <username>`. Showing by SID will still show the old password `+accinfo sid LPDN` until the user logout.

[2017-05-16 21:03] Sopor opened #26 "Sessionchat will show commands to everyone in the sessionchat"
Sessionchat will show commands to everyone in the sessionchat. Can this be avoided?

[2017-05-20 23:39] blasti commented on #24
Fixed in latest git

[2017-05-20 23:39] #24 closed, assigned to nobody

[2017-05-20 23:41] blasti commented on #22
This script itself is annoying and needs to be kicked out of the core distribution of luadch. I will not touch this.

[2017-05-20 23:41] #22 closed, assigned to nobody

[2017-05-21 15:56] Sopor commented on #22
I don't see this script as an annoying script. It is very useful when you want to mute a user. So please don't remove it...

[2017-05-21 15:58] Sopor commented on #25
enhancement?

[2017-05-21 20:25] blasti commented on #22
ok. why not just temp ban the offending user?

[2017-05-22 22:00] Sopor commented on #22
Then you can say the same thing on every commands, why not do this, or this, or this instead? A software must have different options because we all do different things.

[2017-05-23 20:15] #13 closed, assigned to pulsar-de

[2017-05-30 07:28] technicianGF opened #27 "MSG viewable in Chatlog after setting msgmanager_permission_main=false"
Hi, after setting msgmanager_permission_main=false, the users can't write main chat MSG, OK, but I still can see their blocked MSG in chatlog on login right after motd.

[2017-05-30 08:39] blasti commented on #27
fixed in 1df22e40bfa838c7fa6f828f91fc17b04392e0fd

just place in cfg.tbl the entry `etc_msgmanager.lua` before `etc_chatlog.lua`

[2017-05-30 08:40] #27 closed, assigned to nobody

[2017-06-02 21:00] Sopor opened #28 "USER LOGIN INFO - Client CCPM:"
Luadch 2.19 will not show the CCPM in the `USER LOGIN INFO` if it is Yes or No.

So you need to remove `Client CCPM:   %s` or add some new code into the `etc_userlogininfo.lua` to re-enable `Client CCPM` at login.

[2017-06-02 21:06] Tadies commented on #28
Thank You Sopor for this post.....

[2017-06-03 21:40] Sopor opened #30 "'etc_ccpmblocker2.0.lua': ././core/cfg.lua:3402: attempt to index field '?' (a nil value)"
When adding `etc_ccpmblocker2.0.lua` to `cfg.tbl` i get this message in the error.log
[code]
Luadch 2.19

[2017-06-09 17:09] Sopor opened #31 "No info about ban in ACCINFO"
It would be nice if ACCINFO showed if the user is banned.

[2017-06-09 17:24] Sopor opened #32 "cmd_ban.lua - will sometimes ban forever without any reason"
If you ban a user more than 60 (i don't know if 60 days is the reason but i have 5 users with the same issue and the all got the same ban time) days it will show as a forever ban and it will not automatically remove the ban from the user.
If i view the history ban it will show this:
[code]
And if i then list the bans i can still see the same user but with forever state:
[code]
I did an unban on on

[2017-06-15 18:44] Sopor opened #33 "disable one or two command prefix [+!#]"
It should be possible to disable [+!#] if i want to use it with another bot. As it is now all three chars work but it should be possible to turn of one or two command prefix.
Maybe it is even better if Luadch ignored command it won't recognize?

[2017-06-17 15:57] Sopor opened #34 "Sender: cmd_pm2offliners"
When doing a `PM to offliner` it will show this message in the Hubbot window
`Offline PM No. 1  |  Sender: cmd_pm2offliners  |  Date: 2017-06-17 / 14:59:33`
and i don't think it should show `cmd_pm2offliners` as the sender, it should show the user that have sent the PM, right?

I could also read in the main window from the Hubbot:
`You have [1] new offline message(s) waiting for you.`
Why do it sh

[2017-06-28 18:16] Sopor opened #35 "etc_dhtblocker.lua:96: attempt to read undeclared var"
When a user tries to connect with DHT enable and DHT is blocked in Luadch it will spam this text every 15 minutes:
[code]
It will also show this text in the `cmd_ban_bans.tbl`:
[code]
Luadch 2.19

[2017-07-01 13:57] blasti commented on #35
Try latest commit.

[2017-07-01 13:57] #35 closed, assigned to nobody

[2017-07-02 19:51] blasti commented on #33
If you want luadch to ignore unknown commands, just dont use the script

`etc_unkown_command.lua`

You can comment it out in the `cfg.lua`. The downside in deactivating this script is, that if somebody mistypes a command in the mainchat, it might be visible to all.

[2017-07-02 19:51] #33 closed, assigned to nobody

[2017-07-08 09:43] blasti commented on #28
checkout 146e687bad8d6013ee7178b0fc8c5228192400f1

[2017-07-08 09:44] #28 closed, assigned to nobody

[2017-07-13 20:08] Sopor commented on #23
If a user is blocked and this user later will be delregged i can't remove this user from the traffic manager. So this user will continue to show up as a blocked user even if it not exists anymore.

[2017-07-13 20:51] blasti commented on #23
Ok. Probably the best would be to add  an "onDelreg" event, so handle such issues.

[2017-07-14 12:19] Sopor opened #36 "TRAFFIC MANAGER - level 60 can unblock level 100"
In `cfg.tbl` i can set `etc_trafficmanager.lua` and what level that can block other levels.
If a user with level 100 block a user with level 80, this level 80 user can unblock himself even if this level 80 user only can block users with level 70 and below. Even a level 60 can unblock a level 80 or even a level 100.
So all levels that can block other users (level 60-100) can unblock any user from l

[2017-07-15 22:01] blasti commented on #20
Basic IPv6 support is added in b5847197d4ed06ec5b414df79e0dda148c63a2b5.

[2017-07-15 22:01] #20 closed, assigned to blasti

[2017-08-06 20:25] blasti commented on #34
Not a bug. The sender will get informed by "cmd_pm2offliners" about the delivery.
And "You have [1] new offline message(s) waiting for you." means, that the script has a message for you.
Either you get informed about a successful delivery, or you receive an offline message.

[2017-08-06 20:25] #34 closed, assigned to nobody

[2017-08-12 20:42] #30 closed, assigned to nobody

[2017-08-15 16:56] Sopor commented on #36
Now i can't unblock a user. It will show `unknown command` and it will show this error message:
[code]

[2017-08-15 16:57] Sopor opened #37 "TRAFFIC MANAGER - wrong message when blocking a user that is already blocked"
If i try to block a user that is already blocked i will get this message
`Traffic Manager: The level of this user is already auto-blocked.`.
This message is completely wrong to show here. A new message should be added with a proper message:
`User %s is already blocked by %s` = `User Arnold is already blocked by [OP]Oden`.

[2017-08-15 19:12] Sopor opened #38 "cmd_usersearch.lang.xx - remove an extra space"
No big deal but this line (EN and DE) have an extra space added after the nick: %s:
[code]
so it should be like this:
[code]

[2017-08-19 19:43] Sopor opened #39 "usr_uptime.lua - shows the wrong users uptime"
When trying to get a users uptime by right clicking the username in the user list it will only show my own uptime instead of the users. This is the command: `+useruptime CT2 <username>`.

[2017-08-19 19:50] Sopor commented on #6
I have been running Luadch as a service in Windows by using [NSSM](https://nssm.cc) and it seems to work.

[2017-08-19 22:47] Sopor commented on #17
I have been trying to use the `Offline users` to clean out users but it won't work at all. It is very complex to explain every detail of the problem. I believe it is easier to test it and you will see it won't delete any users.

[2017-08-20 19:16] Sopor opened #40 "usersearch - will reveal password for other users with the same level"
If i try to get the account info from the user list `+accinfo sid NHSR` with the same level as myself (60) or higher i get this: `You are not allowed to use this command or the target user has a higher level than you.`
This will make sense but if i instead use `+usersearch` it will even show the password on the same level as myself:
[code]
It seems to not reveal the password if the user have a hig

[2017-08-20 21:08] precla commented on #40
Will this do the trick?
Instead of:
`( user_level >= u.level ) and ( u.password or msg_unknown ) or msg_no_allowed,`
do:
`( user_level > u.level ) and ( u.password or msg_unknown ) or msg_no_allowed,`

https://github.com/luadch/luadch/blob/master/scripts/cmd_usersearch.lua#L178

[2017-08-21 06:32] #40 closed, assigned to blasti

[2017-08-21 06:35] #38 closed, assigned to blasti

[2017-08-21 10:57] Sopor commented on #36
@blasti Should i create a new issue or what?

[2017-08-21 17:44] Kungen123 commented on #14
this script is not fixed yet ?

[2017-09-06 19:13] Sopor opened #42 "cmd_reg.lua - OP's can add/change/remove comments on higher level than himself"
I have level 60 and i can run `+reg desc <username> <comment>` to change comment on a level 100 users. If i try to view the comment i get this message `You are not allowed to use this command or the target user has a higher level than you`.
A level 60 user can't create a level 100 account so it should not be able to add, create or remove any comments either.

[2017-09-07 06:59] Kungen123 commented on #42
Yes i think thats wrong so that need too be fixed

[2017-09-07 07:06] Kungen123 opened #43 "cmd_usersearch.lua"
if i have level 60 as Op and looking for a user and it turns out he has a higher level than me for ex level 80 . this should not be shown too mee at level 60.

[2017-09-11 08:34] Sopor commented on #43
I would suggest that not showing any info about the same or higher level. Same way the `Show Accinfo` doesn't show anything. It should only show the nick.

[2017-09-11 09:29] Sopor opened #44 "Add port number that is hidden for the users"
No DC client will allow you to add the same address twice in the favorite hubs. If you are an Owner of a hub you always test functions to see if they works or how they works and i use another port number when i do that. If i add another port number this will also be visible to other users when they run `+hubinfo` and when they get a new account registered. So it would be perfect if it was possible

[2017-09-11 10:01] blasti commented on #44
Why do you use/need another port to test stuff?
You are aware, that users can perform port scans, and find you "hidden" port if it is open?
Right now I see no good reason to add this feature.

[2017-09-11 10:22] Sopor commented on #44
Yes, they can port scan but they will not get any answers. All ports (except the original hub port) are blocked except for those that have access to the hub server (ConfigServer Security & Firewall make this possible). That is why i don't want to show this port to the users so they think it is open for them to use and when they can't connect they think something is wrong.

[2017-09-11 10:35] blasti commented on #44
Ok, but what is the point in using another port?

[2017-09-11 19:32] Sopor opened #45 "etc_alias.lua - create command alias"
A script that makes it possible to add command alias. So instead of writing `+usersearch` i only write `+us`. Or if you are an OP that have recently moved from [ADCH++](http://adchpp.sourceforge.net) to [Luadch](http://luadch.github.io/) and you have learn to use `+listreg` it would be easy to add that as an alias to `+usersearch` and all the OP's will be happy :)

[2017-09-11 19:42] Sopor commented on #44
I can create two favorite hub entries that make me login into the same hub but with different names (of course not at the same time). DC clients won't allow you to create two favorites with the same address. I can of course run one more DC client and hash a new share but it is much easier if i could logout and login with a different name in the hub. Then you suggest: "use the Quick connect". It is

[2017-09-11 19:47] blasti commented on #45
will think about this

[2017-10-18 21:00] Sopor opened #47 "cmd_reg.lua - comment won't be visible in OP_Chat"
When I register a user like this `+reg nick Elpidio 20 this is my brother` it will only show up like this in the OP_Chat: `<-HubSecurity> User  [-OP-]Loke  registered  Elpidio with level  20 [ REG ]`.
If i read in the cmd.log i will see this:
`Command: [+!#]reg nick Elpidio 20 this is my brother   |   used by: [-OP-]Loke`.
So the `comment` is missing from the OP_Chat and that can be a bit confusin

[2018-01-10 21:14] Sopor opened #49 "New created accounts need to be logged in or else they will be deleted..."
When you create an account there should be a time limit and if the user never login before X days the account will be deleted and reported to OP_Chat that this account that was created by is now deleted.

[2018-01-14 19:20] #42 closed, assigned to nobody

[2018-01-14 21:17] HypoM commented on #47
This is a possible solution to this, i can create a PR for it if @blasti thinks it is correct.

Replace line 324-333 with:
[code]
And alongside the other language-defintions at the top of cmd_reg.lua add this:
[code]
And in cmd_reg.lang.en/cmd_reg.lang.de add:
[code]

[2018-01-14 21:50] blasti commented on #47
I think it would be better to make the comment default, and not optional. This simplifies the script, as well as the command and right click menus. The default value of the comment should be "" or "<NA>", and might be overwritten by the one who regs the user.

[2018-01-16 22:26] #36 closed, assigned to pulsar-de

[2018-01-22 03:29] HypoM opened #53 "cmd_usersearch.lua: Sort the output"
I think it would look better, and be easier to find a user in, if the output of the command was sorted on the content of `u.firstnick`.
As it is now, it just seems to show up in the same order as it was written in the user-table (which i assume is always by reg-date).

[2018-01-22 09:37] blasti commented on #53
I like the view by reg date. Maybe one can add an option to view alphabetically.

[2018-01-22 09:44] blasti commented on #43
Ok I checked this. Informations from higher level users are shown in usersearch, except the password. Whats the problem with that solution? Why show nothing/show only the nick?

[2018-01-22 09:45] HypoM commented on #53
I have to say i like that idea better, and will look into it later. In that case, i think it most likely is better to leave reg-date as the default sorting then (as people are most used to that by now).

[2018-01-22 13:26] Sopor commented on #43
Info that is not available with `+accinfo nick` should not be available through another command like +usersearch. So i don't understand why this should have an option https://github.com/luadch/luadch/pull/52 ?

[2018-01-22 23:40] blasti commented on #43
Its a matter of taste. With an option, you can choose.

[2018-01-22 23:40] #43 closed, assigned to nobody

[2018-01-23 00:46] HypoM commented on #39
I've been poking on this a bit - and it seems that the regexp on line 193 is the culprit.
`param1` and `param2` always ends up being empty, even if you use the commands `+useruptime CT2 <username>` and `+useruptime CT1 <username>`.

I think it might be a better solution to change line 193 so it splits instead, and on line 194 (the if-statement) we check how many parts we get (if 0, run that, if mo

[2018-01-23 09:55] #14 closed, assigned to pulsar-de

[2018-01-23 11:46] Sopor commented on #43
In that case the +accinfo should also have an option... A user with higher level should not be able to get info on the same level or higher. All other commands works like this so why not +usersearch ?

[2018-01-23 12:04] Sopor commented on #53
I don't believe they have a clue which order they are listed in and for me the alphabetically order is the most useful. The other order only looks like it was listed in random order. Only those with knowledge of the code knows it is listed by reg date.

[2018-01-23 16:23] blasti commented on #43
Ok sounds reasonable, you should open another issue for it.

[2018-01-23 16:26] blasti commented on #53
I agree that if you don't see the reg date, it looks like being random. In that case it should be shown alphabetically.

[2018-01-31 00:01] c0r4ir opened #55 "ptx_freshstuff_v0.8 (multi3) no rightclick menu"
OS: Ubuntu 16.04
Luadch v2.19
ptx_freshstuff_v0.8

Right Click menu not appearing in client. I have not made any modifications to the .lua script. However, I am able to use freshstuff commands in the client.  What can be the issue?

[2018-01-31 14:15] blasti commented on #55
This is the wrong place to open an issue for ptx_freshstuff, please goto [https://github.com/luadch/scripts/issues](https://github.com/luadch/scripts/issues).
Also please specify which client you are using, and whether you are hosting the hub by yourself.

[2018-01-31 14:15] #55 closed, assigned to nobody

[2018-02-03 16:58] Ninja-FSE opened #56 "Question! not an issue!"
I have ptx_freshstuff loaded and using Luadch Announcer Client. Working great!

But i have an question, how can i make so several users can use the same account on my hub and add new releases to ptx freshstuff? as it looks that the Client stays connected all the time.

Is there anyway to make the Announcer Client to connect to the hub, add the release and then disconnect?

[2018-02-03 19:23] blasti commented on #56
each user should use its own announcer client. in any case: users should not share the same account in hub

[2018-02-03 19:55] #56 closed, assigned to nobody

[2018-02-17 00:08] Sopor opened #57 "send masspm to all users even those users that are offline"
I would like to send masspm to all users and i mean all users, even those users that are offline when i send. To avoid too many old masspm it should be possible to add an expire date:
`+massoff 20 thisisthemessage`. 20 will then be how many days it should be active and if the user never received it in 20 days, it should be deleted. If you not add any days it should never expire.

[2018-02-18 14:39] Ninja-FSE opened #58 "etc_offlineusers.lua"
Hi again!

I have some problems with etc_offlineusers.lua

The command "+offline check" does not work. My hubbot is reporting this error.

[2018-02-18 | 15:35:42] scripts.lua: script error: ././scripts/etc_offlineusers.lua:759: attempt to perform arithmetic on field '?' (a nil value) (listener: onBroadcast; script: 'etc_hubcommands.lua')

and also "Unknown Command"

Im on Luadch 2.19 on CentOS Lin

[2018-02-19 00:06] schwiltzek opened #59 "Missing Ipv6 Support in latest release 2.19"
Hi,
i have a Synology DS115j and trying to set up luadch. Unfortunately i am sitting behind a FTTH Dual Stack Lite connection, Thus  i am relying on ipv6 connectivity.
It seems ipv6 connectivity was added to the core files after release of 2.19, so i cloned the whole luadch project to my NAS and compiled it via terminal. But i am getting errors during building of adclib:

![image](https://user-ima

[2018-02-20 11:15] schwiltzek commented on #59
EDIT:
I helped myself by looking into the code in the mentioned lua files. In my attempt to use the newer compiled core files and the cfg there were also newer libraries required. In my case unicode.so (where ascii is located) and then further there was newer socket.so (Ipv6 Support).

I can now access the hub from any external ADC Client from the web over Ipv6 and Ipv4 (via portmapping)

Ty anywa

[2018-02-24 14:03] Sopor commented on #58
Already reported #17 that something is wrong. I have also tried to use it but it won't delete any users.

[2018-02-24 14:12] Sopor opened #60 "make it possible to hide INF fields from users"
It would be nice if it was possible to hide INF from the users. At least Description and Email where users can type his own text. Some users even type their passwords in the description. OP's should of course always see it.

[2018-03-03 13:51] Ninja-FSE commented on #17
i guess no one knows how to fix this?

[2018-03-03 15:37] blasti commented on #60
there are scripts which are already doing this to some extend. see for instance
[https://github.com/luadch/luadch/blob/master/scripts/hub_inf_manager.lua](https://github.com/luadch/luadch/blob/master/scripts/hub_inf_manager.lua)
[https://github.com/luadch/luadch/blob/master/scripts/usr_desc_prefix.lua](https://github.com/luadch/luadch/blob/master/scripts/usr_desc_prefix.lua)
[https://github.com/lu

[2018-03-03 15:37] #60 closed, assigned to nobody

[2018-03-03 18:20] Sopor commented on #60
One script will: `this script kills users with forbidden inf flags` and the desc script is not working very well. I have already reported that to pulsar. These script is not was i was asking for.

[2018-03-03 21:59] blasti commented on #60
yes but those scripts can be easily customized to strip the description/email. just register an "onInf" event and delete the "DE" an "EM" flags

[2018-04-18 13:42] Havokdan opened #61 "Rules"
Good morning, I'm a beginner, after a lot of trouble, I managed to put a hub here to test it, however I would like to know how I add the rules, nor are the rules, but rather how I configure the rules text to display in the hub, could anyone help me?

[2018-04-19 06:14] blasti commented on #61
You need to edit the file [https://github.com/luadch/luadch/blob/master/scripts/cmd_rules.lua](https://github.com/luadch/luadch/blob/master/scripts/cmd_rules.lua#L65). Write your message into the variable [msg_rules](https://github.com/luadch/luadch/blob/master/scripts/cmd_rules.lua#L65).

[2018-04-19 06:14] #61 closed, assigned to nobody

[2018-04-19 14:24] Sopor commented on #61
You need to write the message in [cmd_rules.lang.en](https://github.com/luadch/luadch/blob/master/scripts/lang/cmd_rules.lang.en#L13) or `cmd_rules.lang.de` depending on what language you are using.

[2018-04-19 15:53] Havokdan commented on #61
Thank you, I already understand, I have done the translations for my language and I posted in the "issues" section of the translation section.

[2018-05-30 09:25] Sopor opened #62 "Limit the amount of chars to show from each post"
When a user login it is possible to set how many posts to show from main history, but there should also be a settings to limit the amount of chars in every post. A post can be 1 char but it can also be 5000 chars or even more. Therefore a settings to cut very long posts would be great.

[2018-06-11 16:00] Sopor opened #63 "Traffic manager - Users that are blocked from downloading shouldn't receive searches"
When a user is blocked the client will still answer on incoming searches and this will make my client add this user to my queue but because the user is blocked it will never download anything from this user. So after a while i will have a lot of partial file lists in queue that never will go away until i manually remove them.

So when a user is blocked it should also block incoming searches so the

[2018-06-11 16:01] Sopor opened #64 "dupe"

[2018-06-11 16:02] Sopor commented on #64
Github told me that it took too long time but it still manage to add the issue so i'm closing this... Maybe the owner can delete this issue?

[2018-06-11 16:02] #64 closed, assigned to nobody

[2018-06-18 09:10] Ninja-FSE opened #65 "cmd_usersearch.lua"
When im doing a usersearch the scripts returns with wrong "Last seen" time. This doesnt happen to all users only to a few. Is there anyway to restet the DB?

Or does it have something todo with https://github.com/luadch/luadch/issues/58 ?

[2018-06-18 09:48] Sopor commented on #65
How do you know the `Last seen` is wrong?

[2018-06-18 09:50] Ninja-FSE commented on #65
I tested it with a user who left the hub, and got "Last seen: 19 days, 20 hours, 42 minutes and 47 seconds ago" right after he left

[2018-06-18 09:52] Sopor commented on #65
And if you check the same user again it will still show the same time?

[2018-06-18 09:53] Ninja-FSE commented on #65
yes, but i think i fixed it, i updated cmd_usersearch and usr_uptime.lua witht the new versions

[2018-06-18 10:05] Sopor commented on #65
I haven't seen any issues with the `Last seen` before, but i can confess that i don't use that command very often on recently logged out users :)

[2018-07-24 01:28] ValdikSS opened #66 "Unsigned char narrowing conversion"
`adclib/base64.cpp` contains `BASE32_table[]` defined as `const char`, filled with `-1` values.

At least on my compiler, `char` is `unsigned char` and I get an error:
`base32.cpp:20:1: error: narrowing conversion of ‘-1’ from ‘int’ to ‘char’ inside { } [-Wnarrowing]`.

Changing `char` to `signed char` solves the issue but I didn't test if base32 still works correctly after this modification.

[2018-07-28 10:18] Hakker opened #67 "script error: ././scripts/hub_runtime.lua:122"
<[BOT]HubSecurity> scripts.lua: script error: ././scripts/hub_runtime.lua:122: attempt to index upvalue 'hci_tbl' (a nil value) (listener: onTimer; script: 'hub_runtime.lua')

It keeps spamming that every second. running it on Windows 10 machine.

[2018-07-28 11:20] Sopor commented on #67
Do a +reload and if that doesn't help, try +restart...
Have you been doing something in the `hci.lua`? Check the file so it is UTF-8 without BOM and not corrupt. If so, replace with a new one.

[2018-07-28 21:54] Hakker commented on #67
Have done nothing in the hci.lua and a reload or restart only solves it for 5 minutes.

[2018-07-29 20:26] Sopor commented on #67
Have you replaced the `hci.lua` with the original hci.lua from `luadch-2.19-win-x86_64.zip`?

[2018-08-04 12:24] Hakker commented on #67
yes. and even went as far as reinstalling everything and it still does it.

[2018-08-04 17:00] Sopor commented on #67
Where have you installed Luadch (path)?

[2018-08-06 09:44] Hakker commented on #67
c:\luadch not in any windows special dirs if that's what you think. Running it as administrator doesn't solve anything either.

[2018-09-17 14:01] Sopor opened #68 "Traffic manager - don't respond to incoming searches when a user is blocked"
When a user is blocked the client will still answer on incoming searches and this will make my client add this user to my queue but because the user is blocked it will never download anything from this user. So after a while i will have a lot of partial file lists in queue that never will go away until i manually remove them.

So when a user is blocked it should also block incoming searches so the

[2018-10-15 00:13] Sopor commented on #68
I believe this is a dupe of #63

[2018-10-15 00:13] #68 closed, assigned to nobody

[2018-10-19 23:20] Sopor opened #69 "delregging a user will not remove the user from banned users"
If i have a user banned and i change my mind so instead i choose to delreg the user, the user will still be banned. It is possible to manually unban the user but if i delreg a user it should remove the ban too.

[2018-10-23 05:56] Sopor opened #70 "detect users that have disabled the encryption?"
Is it possible to detect if the users have disabled the encryption when they connect and in that case not letting them connect? It would be nice if it could detect users that not use the keyprint.

[2018-10-24 12:39] bashinator opened #71 "TLSv1_2 error @compile"
Hey ::

context.c: In function ‘str2method’:
context.c:100:3: warning: ‘TLSv1_method’ is deprecated [-Wdeprecated-declarations]
   if (!strcmp(method, "tlsv1"))   return TLSv1_method();
   ^~
In file included from /usr/include/openssl/ct.h:13:0,
                 from /usr/include/openssl/ssl.h:61,
                 from context.c:16:
/usr/include/openssl/ssl.h:1624:1: note: declared here
 DEPRECATE

[2018-11-30 23:43] Sopor opened #72 "Don't show the hub name to unauthorized users"
When connecting to a hub that only allow registered users it will show a message `Registered users only` but it will also reveal the hubs name (many hub owners use the name of the hub in the hub_bot).
This will make it easy to get the hubs name for unauthorized users. The hub name should not be visible until you have logged in.

[2018-12-13 20:57] Sopor commented on #65
@apax0r If this is solved you maybe should close it?

[2018-12-13 21:03] Sopor opened #73 "Make it possible to hide bots/users/chat room/etc"
Make it possible to hide `OP_Chat` by level. This will prevent confusing the users. I can't see any reason why chat rooms for level 60+ should be visible for lower levels?

[2018-12-14 11:50] Ninja-FSE commented on #65
@Sopor-  No i did not :(

[2019-02-18 15:32] HadesDCH opened #74 "Set redirect on min share/slots,mas share,hubs etc"
I'm trying to get LUADCH to redirect users instead of just disconnect when min share/max share min/max slots are not met.
Looks like there is only manual redir command fos specific profiles. Can this be done ? Am i miising something in configs?
Thanx!

[2019-02-21 19:01] Sopor opened #75 ""Hub runtime" should show session uptime and not complete uptime"
`+runtime show` should show `Uptime (session)` and NOT `Uptime (complete)`

[2019-02-25 06:46] dcbeelinekz2 opened #76 "Будет ли поддержка OpenWRT?"
Хотелось бы пакет для роутеров

[2019-04-24 23:05] Wiikend92 commented on #66
I am also getting this problem when doing `make`. Not being able to compile this correctly, leads to me missing adclib, which makes it impossible to start the server. Do you think it is safe to make this modification and run it anyway?

[2019-04-24 23:06] ValdikSS commented on #66
Can't say, I haven't tested it.

[2019-04-24 23:07] Wiikend92 commented on #66
Let me be your test bunny. I'll try and get back to you if the server runs or not.

[2019-04-24 23:08] ValdikSS commented on #66
It does run, but I'm not sure if base32 still works as intended, and I haven't checked where base32 is used.

[2019-06-10 22:25] Sopor commented on #66
Could someone tell me where in base32.cpp i should change `char` to `signed char`?

[2019-06-11 21:06] ValdikSS commented on #66
Line 20.

[2019-06-11 22:43] Sopor commented on #66
Yes, i have tried several combinations but i get the same error what ever i change. Should i change the whole line, should i only add signed before char and leave the rest, should i delete the whole line and only add signed char? Line 20 contained more than one word and when i still get the same error i assumed i did something wrong.

[code]

[code]

[2019-06-17 20:25] #66 closed, assigned to nobody

[2019-06-17 22:52] Sopor opened #79 "make_keyprint.sh is not executable by default"
This must be possible to set in the branch because `make_cert.sh` have it set already. It should be possible to commit the execute file permission.

To change it run `git update-index --chmod=+x make_keyprint.sh`

[2019-06-18 12:32] #79 closed, assigned to blasti

[2019-06-18 17:07] blasti commented on #76
Please write in english here.

[2019-06-18 17:07] #76 closed, assigned to blasti

[2019-06-18 17:14] blasti commented on #71
This is a warning, not an error. The luasec module seems to use deprecated OpenSSL methods.
This will probably be fixed by the luasec maintainers in future releases.

[2019-06-18 17:14] #71 closed, assigned to blasti

[2019-07-15 18:17] execut3r commented on #39
I've changed the line 193 on our hub from
` local param1, param2 = utf_match( parameters, "^?(%S+)** (%S+)$" )`

to:
`local param1, param2 = utf_match( parameters, "^(%S+) (%S+)$" )`

This seems to work, but i have no clue if that change is correct. At least i can finally check for users loging in and out without getting any time in the hub.

[2019-10-13 20:29] Sopor opened #81 "usr_uptime.lua:175: attempt to index field '?' (a nil value) (listener: onLogout; script: 'usr_uptime.lua')"
The new usr_uptime.lua will sometimes show this message
[code]
and it seems to happen when users get the message
[code]
and if you have joins and parts enabled in your client you can see they disconnect and reconnect the exact same time or 1-2 second later. This seems to generate this error message.

[2019-10-16 12:33] Sopor opened #82 "Traffic manager - add date and time to blocked users"
When blocking a user from downloading/searching it would be nice if there was a date and time to show when the user got the block.

[2019-11-30 15:13] HadesDCH opened #83 "User disconnect before getting reg info PM"
While registering a user - person that registers gets pm with login info ok however  user thats being registered gets disconnect before that PM. Thus never gets reg info.

[2019-12-12 18:22] HadesDCH commented on #81
When hub is  shut down (without  ctrl+c) for example on system crash or just reboot, this issue appears to be very common. Its related to missing or corrupted file usr_uptime.tbl located in data folder.
This triggers mass flood of all OPS PMs with the error message (bigger the hub - bigger the flood).
How is storing this in database instead - maybe more reliable?

[2020-01-09 06:15] rfilmyer opened #84 "(Enhancement) Store hashed passwords, rather than the plaintext, in users.tbl"
It looks like user's passwords are being stored plaintext by default in users.tbl. From a security perspective, this seems suboptimal - even the bots at least have tiger-hashed passwords. It certainly shouldn't be a default.

It looks like there's an Argon2 (the current gold standard password hashing algorithm) [library for Lua](https://thibaultcha.github.io/lua-argon2/).

I'd submit a PR myself b

[2020-01-09 08:57] blasti commented on #84
The bots doesn't have tiger hashed passwords. Some hash is just used as a password.
Passwords need to be stored plaintext somewhere, to verify the user input. The ADC protocol requires the following:

[(See https://adc.sourceforge.io/ADC.html#_pas)](https://adc.sourceforge.io/ADC.html#_pas)

As far as I understand this, one can only store hashed passwords on the hub side, if one doesn't use random

[2020-01-09 08:57] #84 closed, assigned to blasti

[2020-01-09 17:41] rfilmyer commented on #84
Ah, I misinterpreted what the `hash = "TIGR"` meant in `user.tbl` then.

But I'm not sure I agree with your understanding re: the need to store plaintext. I obviously have to look at the code more, but looking at the protocol all that is needed is to *verify* the user input from a `PAS` action... and verification doesn't require storing in plaintext; modern password hashing algorithms can verify a

[2020-01-09 20:04] blasti commented on #84
ADC protocol works like this:

0) User connects, hub generates a random, session specific salt.
1) Hub sends salt to user.
2) User combines  plaintext password with salt, applies TIGER hash, sends corresponding BASE32 string to the hub.
3)  Hub combines stored plaintext password with salt, applies TIGER hash, compares corresponding BASE32 string with BASE32 string given by the user. If equal, then

[2020-01-09 20:25] rfilmyer commented on #84
Oh shoot, I had it completely backward. Yeah, there's probably no way to make this work if the *salted hash*, rather than the password, is being transmitted.

A completely valid WONTFIX here, the issue is in the protocol rather than in luadch.

[2020-01-10 14:27] Sopor commented on #84
I believe PtokaX do has this feature but that is not ADC.

[2020-01-11 02:36] Sopor commented on #84
0.5.0.1 11 December 2013
Added: Option to store passwords for registered users as hashes.

[2020-01-18 13:03] luadchuser commented on #83
Yes, this is a pretty irritating bug.
As soon as you reg someone, they disconnect, without any way of knowing their password.
I'll run through the code and see if I can find a fix, because otherwise, right now, you need to give a password in advance, then reg, then change the password to match the one you gave. That's not exactly slick. You also then need to mess with the "badpassword" values to m

[2020-01-18 14:01] luadchuser opened #85 "hide IP address in user list?"
This might be a stupid question, but is there a way to hide IP addresses in the user list? It's certainly possible in other hubs, I've seen it before. (I know that the clients of course will eventually need the IP address of another client from the hub to download, but it would be nice to hide them in the user list).
Thanks!

[2020-02-18 11:54] Ninja-FSE opened #86 "Compile issue"
Hi peeps, trying to compile the latest release of LuaDCH but i cant, i have installed libssl-dev and gcc.

this is what i get

gcc version

Lua version

Any help would be nice :)

[2020-02-18 11:58] Ninja-FSE commented on #86
Nevermind i fixed the issue. the issue was that i lacked  "build-essential"

All good

[2020-02-18 11:58] #86 closed, assigned to nobody

[2020-02-24 13:03] Ninja-FSE commented on #73
Any updates on this? Whould be a nice future to have

[2020-03-06 16:30] AlienXAXS opened #87 "Connecting to non SSL port does not fully establish connection"
Hi,
I am a new luadch user, and maybe just need some configuration help.

I am attempting to use luadch to allow users to connect to my hub simply by entering the address in Quick Connect for example, so I've set the property 'tcp_ports' to 411.

However, trying to use both DC++ and AirDC++ (both latest versions) causes the client to connect to the hub, but nothing else happens.  I get no chat, us

[2020-03-10 21:46] Sopor commented on #87
It should not be any problems to get it to run. You need to check everything again so you don't have any firewall or port that you need to be open in your router. You should also try another port.
Did you try to connect to your own hub? Try adc://127.0.0.1:411 and see if that works.

[2020-03-10 23:37] AlienXAXS commented on #87
After doing some more research, i assume that Luadch doesnt support NMDC (or something like that?)

But i also realise that i need to define the port on the ADC URL, i assumed it used 411 by default.

[2020-04-20 17:13] cnadolny2s opened #88 "v2.20 for linux-x64 or x86"
When will you release these assets?

[2020-04-20 20:28] blasti commented on #88
Try this:

[https://github.com/luadch/luadch/releases/download/v2.20/luadch-2.20-linux-x64.tar.gz](https://github.com/luadch/luadch/releases/download/v2.20/luadch-2.20-linux-x64.tar.gz)

Otherwise, to compile yourself, do the following in your shell:

[code]
If everything went fine, the hub can be found in the `build_gcc` directory.

[2020-04-20 20:28] #88 closed, assigned to blasti

[2020-04-20 20:35] #87 closed, assigned to nobody

[2020-04-20 23:09] cnadolny2s commented on #88
Cool, thanks for the instruction and adding it to the asset list! Love your project.

[2020-04-20 23:50] #59 closed, assigned to nobody

[2020-04-21 04:47] HadesDCH commented on #83
Looks like this bug wasn't fixed yet with new 2.21 release.

[2020-04-21 04:51] HadesDCH opened #89 "New v. 2.21 wont serve on TLS port when certs genned via LUACERT MANAGER."
Not sure if this is certs manager issue or maybe openssl version i have installed on my windows pc.
After generating certs using luacert manager  hub serves on adc port fine  but im unable to connect on adcs address (timed out).
I checked firewall port is open, LUADCHUB is added as allowed firewall app, not sure if this is a bug or my missconfig / setup issue. I see no errors enywhere.

[2020-04-21 08:20] blasti commented on #89
I've updated the package and included OpenSSL 1.1.1f DLLs into it.

1. Download and unpack the updated package [https://github.com/luadch/luadch/releases/download/v2.21/Luadch-2.21-Win-x86_64.zip](https://github.com/luadch/luadch/releases/download/v2.21/Luadch-2.21-Win-x86_64.zip)

2. Use `make_cert.bat` in `certs` folder to create a new cert

3. Start hub, try to login.

If everything went fine,

[2020-04-21 22:58] pulsar-de commented on #89
It's your OpenSSL version. certs created with Luadch [Certmanager](https://github.com/luadch/certmanager) for TLSv1.2 are still compatible with TLSv1.3.

[2020-04-21 22:58] #89 closed, assigned to pulsar-de, blasti

[2020-04-23 19:58] pulsar-de commented on #83
This fixed  [cmd_reg.lua](https://github.com/luadch/luadch/blob/master/scripts/cmd_reg.lua)  should solve the problem.

[2020-04-24 14:32] blasti commented on #70
If a user sends a INF without KP flag, no keyprint is used. That can of course be detected.

Otherwise, if your hub has only adcs ports, the users have no other choice than using encryption.

[2020-04-24 15:00] Sopor commented on #70
It is still possible to disable encryption for file transfers. I assume that was what i meant, but it was almost 2 years ago i wrote this :)

Both DC++ and AirDC++ can disable file transfer encryption.

How about keyprint?

[2020-04-24 16:06] #83 closed, assigned to nobody

[2020-04-24 16:19] pulsar-de commented on #74
Fixed. to use these changes you have to update the following files:

- [core/hub.lua](https://github.com/luadch/luadch/blob/master/core/hub.lua)
- [core/cfg.lua](https://github.com/luadch/luadch/blob/master/core/cfg.lua)
- [cfg/cfg.tbl](https://github.com/luadch/luadch/blob/master/examples/cfg/cfg.tbl) (usr_share.lua settings, usr_slots.lua settings)
- [scripts/usr_share.lua](https://github.com/lu

[2020-04-24 16:19] #74 closed, assigned to nobody

[2020-04-24 17:22] #81 closed, assigned to nobody

[2020-04-24 17:26] pulsar-de commented on #81
update: "scripts/usr_uptime.lua"
- reduce timer to 1 minute
- fix: https://github.com/luadch/luadch/issues/81
    - add "opchat.feed()" function to report corrupt or missing database file
- changes: "scripts/lang/usr_uptime.lang.de"
- changes: "scripts/lang/usr_uptime.lang.en"

Should be fixed now.

[2020-04-24 23:38] pulsar-de commented on #69
- update: "scripts/cmd_delreg.lua"
    - fix issue: https://github.com/luadch/luadch/issues/69
        - remove delregged user from bans if exists  / thx Sopor

- update: "scripts/cmd_ban.lua"
    - add "del()" function to export unban functionality in other scripts

Should be fixed now.

Greets

[2020-04-24 23:39] #69 closed, assigned to nobody

[2020-04-25 08:42] #19 closed, assigned to blasti

[2020-04-25 11:20] #6 closed, assigned to pulsar-de, blasti

[2020-04-25 11:27] blasti commented on #6
@seabert: Latest Luadch (5e64e35) supports daemonization on unix. Use

[code]

to run it as a daemon. To terminate it, you can use

[code]

[2020-04-25 13:15] pulsar-de commented on #37
Should be fixed now.

Greets

[2020-04-25 13:15] #37 closed, assigned to nobody

[2020-04-25 19:01] #25 closed, assigned to pulsar-de

[2020-04-25 19:57] blasti opened #90 "Remove "user_tbl = util_loadtable" and "hub.reloadusers" from codebase"
Using this stuff causes subtle bugs, as reguser profiles go out of sync.

Instead use  `hub.getregusers`, to use the same reguser profiles as the hub core.

The function `hub.reloadusers` shouldn't exist at all and is to be removed.

[2020-04-25 22:23] pulsar-de commented on #90
Done :)

[2020-04-25 23:23] #90 closed, assigned to pulsar-de, blasti

[2020-04-27 11:07] #73 closed, assigned to nobody

[2020-04-28 10:00] #72 closed, assigned to nobody

[2020-04-28 10:04] blasti opened #91 "Remove _regusercids from codebase; remove "by CID" from cmd_accinfo and cmd_upgrade"
There is no reason to hold CIDs of regged users, as Luadch is "reg by nick only".
There is no reason to accinfo/upgrade by CID, as by nick and SID is sufficient.

[2020-04-28 12:05] blasti commented on #85
1. You cannot hide the IP adress without breaking up/download capability.
2. Also, the client software decides what it will show to the user in the userlist.

[2020-04-28 12:05] #85 closed, assigned to nobody

[2020-04-28 16:37] blasti commented on #70
I don't think it is possible to prevent this from hub side.

[2020-04-28 16:37] #70 closed, assigned to nobody

[2020-04-28 19:30] Sopor commented on #85
Other hubsoft can do it, so why not Luadch, but maybe that was the old NMDC?

[2020-04-29 06:56] blasti commented on #85
In theory it is possible to "hide" the IP, by not sending I4 and I6 flags in the INF. Then the question is, what happens if somebody wants to download something.  One has to test this, probably resend INFs with IPs, etc. I won't spend time on this looming clusterfuck, as the benefit is... zero.

[2020-05-02 02:03] Tantrix commented on #1
Is 1024 open sockets limitation on linux stills here for luadch these days?

[2020-05-02 22:25] Sopor commented on #6
I did run it as `luadch -d` but it will still not leave the shell back or this isn't working in Luadch 2.21?

[2020-05-03 01:21] mcdemon05 commented on #1
I have been using uhub for the ADC hub for a long time. 02.05.2020, 12:03, "Tantrix" <notifications@github.com>: Is 1024 open sockets limitation on linux stills here these days?—You are receiving this because you authored the thread.Reply to this email directly, view it on GitHub, or unsubscribe.  -- ----------------------------------------C уважением, Дмитрий Александрович.Мой Вконтакт: http://vk

[2020-05-03 01:36] Tantrix commented on #1
Yeah, I asked about luadch.

[2020-05-03 03:44] HadesDCH commented on #1
In bash
ulimit -n 5000 did anyone try this?

[2020-05-04 02:08] mcdemon05 commented on #1
I can’t check anything because there are no more than 1000 users on my hub.But when there were 1000 users, I just installed uhub and it has been working fine ever since. 03.05.2020, 13:45, "DCHUBLIST DOT ORG" <notifications@github.com>: how about just doing ulimit-n 10000?or whatever number u need -—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub,

[2020-05-04 08:26] blasti commented on #6
Correct, this is a feature of Luadch 2.22, see

https://github.com/luadch/luadch/blob/80e78e8931f75e7a976a65139a6b458e89166045/docs/CHANGELOG#L72

 But you can use it today by compiling the latest source.

[2020-05-04 08:32] blasti commented on #1
Eventually I will replace "select" by "poll" on unix. This will solve the issue.

[2020-05-04 23:44] Tantrix opened #94 "Running luadch on Windows XP"
Got some errors.

Config is default.

![Screenshot_1](https://user-images.githubusercontent.com/50278147/81023724-f886eb00-8e79-11ea-8dc7-52000a7f7c38.png)

[2020-05-05 07:23] blasti commented on #94
1. Always post error messages in **english.**
2. Always post the luadch **version** you are using, or whether you compiled it by yourself.
3. WinXP is end of life since at least 2015. Why should we support a dead operating system?

[2020-05-05 12:30] Tantrix commented on #94
1) 'cfg' "wmic" is not a program
2) 2.21 downloaded, not compiled
3) The website says 'luadch was successfully tested on Windows XP'.

[2020-05-05 17:21] blasti commented on #94
Yes, 10 years ago.

[2020-05-05 17:21] #94 closed, assigned to nobody

[2020-05-06 18:41] Sopor opened #95 "TRAFFIC MANAGER - Remove blocked users from etc_trafficmanager.tbl"
When delregging a user that is blocked will not remove him from the block list. So i need to manually edit etc_trafficmanager.tbl.

[2020-05-07 11:09] blasti opened #96 "Remove unused variables"
This can easily be done with a specialized Lua IDE like [Zerobrane](https://github.com/pkulchenko/ZeroBraneStudio).

[2020-05-13 03:16] dcbeelinekz2 opened #97 "Будет сборка для OpenWRT?"
Есть ли возможность собрать его под эту систему?

[2020-05-13 09:07] blasti commented on #97
English please.

[2020-05-13 09:07] #97 closed, assigned to nobody

[2020-05-14 16:59] Ninja-FSE opened #98 "Deleting users gives an error"
When im trying to delete a user i get this error msg

`[2020-05-13 | 16:27:38] scripts.lua: script error: ././scripts/cmd_delreg.lua:271: attempt to read undeclared var: 'ban' (listener: onBroadcast; script: 'etc_hubcommands.lua')
`

`[18:58:32] <Hubbot> [command] +delreg nick User`
`[18:58:32] <Hubbot> Unknown command`

Running latest version, Luadch v2.22 RC3

Edit:

The user is getting deleted

[2020-05-14 17:05] Ninja-FSE opened #99 "keyprint = true"
Is there a way to only allow connection to the hub if the keyprint setting is set to true?

[2020-05-18 08:38] blasti commented on #99
Yes, that could be done.

[2020-05-26 16:39] blasti opened #100 "get_tls_mode in cmd_hubinfo.lua does reports TLS v1.2, even in case TLS v1.3 is running"

[2020-05-26 21:17] Sopor commented on #47
It is still there ...

![image](https://user-images.githubusercontent.com/5789283/82951180-01656b00-9fa7-11ea-8d0f-b6ace6ed17a2.png)

[2020-06-12 18:07] Sopor opened #101 "cmd_setpass - typo and missing words"
**Should be `Sets password of a user or yourself`**

https://github.com/luadch/luadch/blob/80e78e8931f75e7a976a65139a6b458e89166045/scripts/cmd_setpass.lua#L120

https://github.com/luadch/luadch/blob/80e78e8931f75e7a976a65139a6b458e89166045/scripts/lang/cmd_setpass.lang.en#L15

**It is better you do the German text :)**
https://github.com/luadch/luadch/blob/80e78e8931f75e7a976a65139a6b458e89166045

[2020-06-17 17:28] Tantrix opened #102 "Unable to set particular TLS 1.3 cipher(s)"
There are only 5 (five) TLS 1.3 ciphers.
There are only 3 (three) enabled by default.
There are only 2 (two) that (most) DC clients can use.
There is one best for running DC hub.

It is **TLS_AES_128_GCM_SHA256** (or **ChaCha** with **Poly1305**)

So, what's the reason in using such a long string?

[2020-06-18 01:31] Sopor commented on #102
Those are cipher suites and those starting with `!` are disabled if i understand this correct :)

Do you have some issues with the cipher? I can see that you still have comment it out with two dashes but not the protocol.

[2020-06-18 02:10] Tantrix commented on #102
That's what I'm talking about. No need to disable what TLS 1.3 does not have at all. You can check https://wiki.openssl.org/index.php/TLS1.3#Ciphersuites for details.

So I'm curious why it is written in that way and how to specify one preferred TLS 1.3 cipher directly.

Yeah. I tried

[code]
with no success (hub refuses to start).

Something TLS 1.2 related like

[code]
makes the hub working but

[2020-07-13 21:11] Sopor opened #103 "etc_dummy_warning.lua - no support for multilingual"
etc_dummy_warning.lua has no multilingual support

[2020-07-21 13:01] Sopor opened #104 "cmd_delreg.lua - attempt to read undeclared var: 'ban'"
I'm running Luadch 2.22 RC3 and when delreg a user i get unknown command and this error message:
[code]

[2020-07-21 13:21] Sopor commented on #104
It seems that this was a dupe of #98

[2020-07-21 13:21] #104 closed, assigned to nobody

[2020-08-08 09:24] blasti commented on #98
Bug was introduced here:

https://github.com/luadch/luadch/commit/01a109df9614949f7250dd51cf7d1bda4c589061#diff-87368ac073d4b8f17b4c2e5358af2a44

[2020-09-07 18:14] maksis opened #105 "Add support for hybrid IPv4/IPv6 client connectivity"
HBRI extension supported by AirDC++: https://web.archive.org/web/20220523191850/http://forum.dcbase.org/viewtopic.php?t=771

Mixing IPv4/IPv6 users in a single hub is currently somewhat problematic if a user can't be accessible via both IP protocols simultaneously.

[2020-09-30 17:26] Tadies opened #106 "usr_uptime. lua issue with V 2.21 aswell 2.20"
hi.... now ill hope it's not my end.....
but i got a hughe load on error log that shows every second.....i had to disable this  script....
i never noticed this cause i use web version of airdc....
but i did fire up since long time aridc for weirdows then i saw it.......

`[2020-09-29 | 19:31:22] scripts.lua: script error: ././core/util.lua:229: bad argument #1 to 'pairs' (table expected, got nil)

[2020-10-01 18:11] Sopor opened #107 "ACCINFO should show when a user is traffic/message blocked"
When viewing ACCINFO i can see if a user is online, but i can't see if the user is blocked. It would be really nice if it could show both traffic manager blocks and message blocks.

To keep the ACCINFO clean and easy to read it should only show the blocks when a user is blocked. When a user is not blocked there shouldn't be any information about it.

[2020-10-15 12:45] perlaxe opened #108 "hub.lua small changes"
Hi, I made some change to hub.lua in my hub on migration from Flex.Please review and decide if it makes sense
-send error when a non registered user tries to join (as nick are case sensitive some valid user tries to log in with blabla user instead of BlaBla and ops need to be aware
-error on max pass tries
-output to error log including nickname

[code]

[2020-10-15 14:06] blasti commented on #108
Hi, can you do a pull request?

[2020-10-15 14:45] perlaxe commented on #108
Hi. done, I edited with nano and used dos2unix some lua files, can try to add changes in DOS format if necessary.

[2020-10-18 08:32] TheGargol opened #110 "Serius security risk / Spoofed IPs"
This hubsoft allowes users to spoof their IP and can therefor be used for DDos attacks on victims by spoofing the IP of the victim and making other clients connect to that IP and not the connected client.

When a client sends a INF containing I4 or I6 this should be verified against the IP the client is connecting to the hub from.
If they missmatch the hubsoft should either fix it or disconnect th

[2020-10-18 16:02] blasti commented on #110
Are there any real world scenarios, where luadch hubs were involved in DDos?
This would surprise me, as luadch is mostly used for small private hubs,
Anyway, to disconnect clients with mismatching IPs, add this to cfg.tbl:

kill_wrong_ips = true

This works in case of IPv4. The case of IPv6 shall be added later.

Warning: If you enable this setting, don't be surprised about complaining users, whic

[2020-10-18 16:02] #110 closed, assigned to nobody

[2020-10-21 01:10] HadesDCH opened #113 "Where is compile script tor linux in source?"
compile_with_gcc.sh   - missing.

[2020-10-21 15:50] HadesDCH opened #114 "Is it possible to compile x64 bit version?"
If so how?

[2020-10-21 20:25] blasti commented on #113
The "compile_with_gcc.sh" script was renamed to "compile".
Please try

`./compile`

[2020-10-21 20:25] #113 closed, assigned to blasti

[2020-10-21 20:26] blasti commented on #114
Please see #113.

[2020-10-21 20:26] #114 closed, assigned to blasti

[2020-10-24 12:46] perlaxe opened #115 "new listener for failed authentication events"
Hi,

Please develop a new listener for scripts for failed authentication events like:

-nick is not registered
-bad password
-max password tries exceeded

Return values: nick, SID, IP

There could be more but these are the imporant ones right now to keep an eye on.

Thx.

[2020-10-26 01:51] Sopor opened #116 "+hubinfo will show TLS v1.2 even if hub is running TLS v1.3"
Even if Luadch is forced to use TLS v1.3 `This server is running Luadch v2.21 [TLS: v1.3]` it will show `TLS Mode:  v1.2` when running `+hubinfo`. User login info will show `TLS Mode:  TLSv1.3`

[2020-10-26 12:50] perlaxe opened #117 "ipban not working properly"
The ipban function only works with registered users which is not really helpful in case a user is trying to hammer login with random usernames. Checking for IP should be done before accepting any packet from the user at all, but definitely before trying to authenticate.

[2020-10-26 15:09] blasti commented on #117
To implement this indeed reasonable suggestion, one has to

1) Rewrite `cmd_ban.lua`, redefine the database holding all banned entities
2) Add a new listener "onAccept", which is called immediately after socket:accept

It needs some thought and work.

[2020-10-26 15:10] blasti commented on #108
Moved to #115

[2020-10-26 15:10] #108 closed, assigned to nobody

[2020-10-27 21:44] perlaxe commented on #115
I made something like this and inserted it into 3 places. It does the job with a script, but not sure if the 4th argument should be a text (which I chose for easy understanding) or just a number or st else.

[code]

[2020-11-09 08:32] perlaxe commented on #106
"table expected, got nil"
Check permissions of the file and have a look if it is readable, perhaps it got corrupted and not properly formatted now.

[2020-11-09 17:38] Tadies commented on #106
Thank You perlaxe...
the problem has been solved  with help of anohter fine member..
and me was given anohter usr_uptime.lua ....
that one worked strait out of the box...
sidenote: i had to use also an new empty .tbl....
maybe the usr_uptime.lua  was not gaven to the new arm package??
anyway its solved now thanky!  rock on!

[2020-11-09 17:39] #106 closed, assigned to nobody

[2020-11-15 03:29] Tantrix opened #119 "Secure C-C connections requests"
Client to client secure connections requests should not be broadcasted by the hub (just turn them into regular) if the hub does not have TLS enabled.

That should be made for client TLS version compatibility reasons.

[2020-11-15 19:13] perlaxe opened #120 "bind to interface"
I could not see any setting in the config, how can I bind luadch to only a specific interface?

[2020-12-05 18:05] 4C3T opened #122 "Listing of commands"
Hi. I'm brand new to this hubsoft, got it installed in a jiffy, no problems at all (Linux Mint x64).
Everything's just fine, but I'm super annoyed about the !help function, or more precisely what it lists.

For eg (Last few lines):
"etc_records.lua - Owners
Usage:		[+!#]records show|reset
Description:	Sends the hub records to user|reset records database
Min. Level:	100"

When read like this it's o

[2020-12-05 19:20] blasti commented on #122
There is no single responsible file. Most commands are defined in their own script.
For example, the command "ban" is defined in "scripts/cmd_ban.lua"
At hubstart, each script can register a help description of its via the script "cmd_help.lua".

Later, if some user executes "help", the "cmd_help.lua" script assembles all descriptions according to
the level of the user. That is, if a command has a

[2020-12-05 19:20] #122 closed, assigned to nobody

[2020-12-05 19:25] 4C3T commented on #122
Ok. Not much of a way to fix it.
Too bad, I was hoping to at least compact it a bit so it won't look so cluttered. It's time consuming when you're trying to find a specific command. This is quite a mess having to sift through

[2020-12-05 19:27] 4C3T commented on #122
It'd be one thing if there could be two !help commands, one brief and more extensive. That'd be more useful, and above else, much quicker too.

[2020-12-05 20:58] blasti commented on #122
This could be done, if one knew what how you define "brief" in this context.

[2020-12-05 21:07] 4C3T commented on #122
Well, just a list of commands without unnecessary characters like [!/+/#].
For eg:
"etc_trafficmanager.lua - Owners
Usage:		[+!#]trafficmanager block <NICK> [<REASON>] | unblock <NICK>
Description:	Blocks downloads ( d ), uploads ( u ) and search ( s ) | Unblock user
Min. Level:	60"

could be shorted down to:

"trafficmanager block <NICK> [<REASON>] | unblock <NICK> -Blocks D/L, U/L and Search. Mi

[2020-12-05 22:30] blasti commented on #122
Feel free to change the formatting according to your needs. It is determined in the section following this line:

https://github.com/luadch/luadch/blob/master/scripts/cmd_help.lua#L84

You can also commit a pull request for a "!help brief" extension.

[2020-12-05 22:46] 4C3T commented on #122
Yeah, I found that and thought it looked like I was on the right track, but it was something that didn't quite look right, whatever it was that I was thinking of.
I'll have a look at it again.

I'm not really a programmer, but I've done some tinkering in my days.
\t means tab, and \n new line right? I think it was one of those that didn't quite match what I saw in that listing.. Oh, well... I'll h

[2020-12-06 22:19] 4C3T commented on #39
Seem like that change was done to the compilation I have.
In my case it's not working at all. Running Linux Mint

I'm only getting this:
`=== USER UPTIME ========================================================================

        Uptime stats about:  xyzUser

	YEAR		MONTH		UPTIME
	----------------------------------------------------------------------------------------------------------------

[2020-12-06 22:24] 4C3T commented on #39
Just randomly tested !uptime, I know, unrelated, maybe, maybe not...
But, I got some very weird numbers...

"Hub Uptime (complete): 0 years, 227 days, 3 hours, 38 min, 56 sec
Hub uptime (session) 0 years,  4 hours, 36 min, 17 sec."

That last entry was pretty accurate, but "227 days"??? Where the crap-biscuit did it get that from???
It' been running for like 2 days now, tops.
Is it perhaps somethi

[2020-12-08 13:26] 4C3T commented on #122
I did manage to slim it down, but damn it's hard to edit it, slightest little wrong and the hub won't recognize !help as a command.
I find it strange that I can't just remove certain strings.

[code]

What I got so far:
[code]
It does work, but I haven't been able to find what places the annoying tags "[+!#]" in front of every listed command
It really makes it look messy

As for the listing for th

[2020-12-08 17:54] blasti commented on #122
That's programming.

The tags are defined in each script. See e.g. https://github.com/luadch/luadch/blob/master/scripts/cmd_rules.lua#L60
You could strip it away with [string.gsub:](https://www.lua.org/manual/5.1/manual.html#pdf-string.gsub)

[code]

The description of the command is stored in `tbl.desc`

Your error log says basically: SSL doesn't work, probably because you didn't create a certifi

[2020-12-10 13:01] 4C3T commented on #122
I'll have a look at it at my earliest convenience.
I did however fix that other problem with SSL, except for the IPv6 since my current VPN ISP doesn't support it at my current configuration.
Couldn't run the .sh script since something was probably missing, so I did it manually as instructed in the file. Took a few tries before it worked.

It could be noted that the <> tag for the keyprint has to b

[2020-12-27 05:01] Sopor opened #123 "Stop include IP address 0.0.0.0"
There is a new function in AirDC that will include IP address in timestamp (quite common in OP clients):
`Show user IP and country in chat when available`

Luadch seems to send useless information as 0.0.0.0.

If i send a command it will send the IP address:
[code]
or when i login
[code]
Same thing in `OP_Chat`

It seems that Luadch is the only hubsoft that do this.

[2021-01-01 17:02] 4C3T opened #124 "!hubinfo displaying wrong TLS version"
I recently changed from 1.2 to 1.3, but got a report from a user that login shows (hubinfo) 1.2 being used, while the client says it's 1.3.

Did a quick look in the code, and both the scripts/cmd_hubinfo.lua and scripts/lang/cmd_hubinfo.lang.en only has a parameter %s, so it seem to get that info from the config file.

It's very possible that I've missed something, but I don't think so to be hones

[2021-01-01 21:07] Sopor commented on #124
I think it is the same isse as https://github.com/luadch/luadch/issues/116

[2021-01-01 21:52] #124 closed, assigned to nobody

[2021-01-13 18:26] Sopor opened #126 "cmd_userinfo.lua - Typo"
This typo seems to have been fixed in the lng file, but it is still in the actual command.

`an user` should be `a user`

https://github.com/luadch/luadch/blob/fd854299f7d8b68a63ed3ba1290df06091102dd4/scripts/cmd_userinfo.lua#L161

[2021-01-13 18:26] Sopor opened #127 "cmd_userinfo.lua - not correct reply for the command error"
After doing a `+userinfo sid XXXX` on a user i got this reply: `Target user has a higher level than you`, but after checking the user we have the same level (in this case 60). So the message should be change to something like this:
`Target user has a higher or same level as you`

https://github.com/luadch/luadch/blob/fd854299f7d8b68a63ed3ba1290df06091102dd4/scripts/lang/cmd_userinfo.lang.en#L6

[2021-03-11 20:07] Sopor opened #128 "cmd_nickchange.lua - will not detect unknown nicks"
If i run `+nickchange othernick hello goodbye` and the user `hello` is not registered it will show `unknown command`. The script will  only checks if nick is taken, which obviously is not true if nick doesn't exist.

So instead of `Unknown command` it should tell me that the user doesn't exists.

[2021-03-17 12:40] Sopor opened #129 "Prevent post in main if space is before the command char [+!#]"
Since you remove the possibility to run command from the hubbot and only make it possible to run them from main it would be really nice if it was impossible to begin a command with space. What i mean is that it should detect that it is a command and show an error message instead of post it in main as a normal chat message.
`"Unknown command. Check leading spaces and syntax."`

[2021-03-17 13:19] perlaxe commented on #129
I solved it by replacing :
`local command = utf_match( txt, "^[+!#](%a+)" )`

with:
`local command = utf_match( txt, "^%s*[!#+](%a+)" )`

in etc_unknown_command.lua

Also changed the text: `local msg_denied = "Unknown command. Check leading spaces and syntax."`

[2021-03-29 03:57] ManelGT1956 commented on #74
@pulsar-de , link to usr_share.lua is same as usr_slots.lua (same link twice, also used to the last script...), we only get to the only and first one, didn't get to intended second script... could you check it and correct link or something?...
Or else/also, a simple explanation for noobs/newbies as to where and how to edit it to our needs, maybe...?
Thanks in advance...

[2021-03-30 18:43] Sopor commented on #129
Thanks @perlaxe, your fix worked perfectly, but maybe two different error message would be better but i leave that to the devs :)

[2021-03-31 11:32] Sopor commented on #129
If someone else want to prevent commands that start with a space to be sent to main you can replace your old `etc_unknown_command.lua` with [this file](https://github.com/luadch/luadch/files/6236179/etc_unknown_command.zip) and then do a `+reload`

[2021-04-07 23:08] Sopor opened #130 "TRAFFIC MANAGER - wrong message when blocking an already blocked user"
If the user is already blocked and i try to block the user again it will show this message:
` Traffic Manager: The level of this user is already auto-blocked.`

[2021-04-07 23:17] ManelGT1956 commented on #129
Thanks!... Going to check it too...

[2021-04-15 05:17] Tantrix commented on #102
Oops. Seems like I'm wrong in some cases.

First, TLS 1.3 cipher is something that shouldn't be just set by the hub admin software-side. SSL library itself, hub server CPU, CPU of the connecting client – it's all matters.

Second, there is a fresh attempt to make cipher priority working IRL: https://sourceforge.net/p/dcplusplus/code/ci/454a53433a701bea163cef51bd79696b1fdb2af2/ inspired by the http

[2021-04-19 22:40] Sopor opened #131 "cmd_ban.lua - will sometimes ban forever without any reason"
There is something strange going on with cmd_ban.lua. If i ban a user for a couple of days it will ban the user forever and the ban will never go away. It doesn't happens every time, though.

[code]

cmd_ban_bans.tbl:
start = 1618408400, time = 172800

UNIX Date: Wed, 14 Apr 2021 13:53:20 GMT
The UNIX date will match the date and time in the hub

Ban time was 172800 seconds and that will be 2 days

[2021-04-19 22:42] Sopor commented on #131
It seems that i have already reported it here https://github.com/luadch/luadch/issues/32 so i will close this and move the info.

[2021-04-19 22:42] #131 closed, assigned to Sopor

[2021-04-19 22:44] Sopor commented on #32
If i ban a user for a couple of days it will ban the user forever and the ban will never go away. It doesn't happens every time, though.

[code]

cmd_ban_bans.tbl:
start = 1618408400, time = 172800

UNIX Date: Wed, 14 Apr 2021 13:53:20 GMT
The UNIX date will match the date and time in the hub

Ban time was 172800 seconds and that will be 2 days

This is what i can read on the user if i list all th

[2021-06-04 03:28] Sopor opened #132 "error loading module 'socket.core' from file '././lib/luasocket/socket/socket.so'"
I was trying to update to Luadch 2.21 on a Raspberry Pi, but i only get this error message:

[code]

The installed version seems to be `libc6 | 2.24-11+deb9u4` and i won't get any newer version if i try to update and upgrade.

I did found this information:
`libc6 is a core library, most other libraries depend on it. It sounds like you're trying to install a binary that was compiled for a different

[2021-07-19 12:10] Sopor opened #133 "etc_dhtblocker.lua - attempt to read undeclared var: 'report_hubbot'"
[code]

Luadch 2.20

[2021-08-01 20:03] Sopor opened #134 "cmd_ban.lua - make it possible to show the ban history of a user"
When using the command `+ban showhis` it will show all the bans from all the users. This list can be huge if you have many users and bans. That is why it should be possible to show the ban history of a specific user `+ban showhis username`

[2021-08-29 23:20] pulsar-de commented on #100
fixed.

[2021-08-29 23:21] #100 closed, assigned to pulsar-de, blasti

[2021-08-29 23:32] #133 closed, assigned to pulsar-de

[2021-08-29 23:50] pulsar-de commented on #129
Thx @Sopor for the idea and @perlaxe for the code changes. Fixed.

[2021-08-29 23:51] #129 closed, assigned to nobody

[2021-08-30 02:40] pulsar-de commented on #126
Fixed. Thx.

[2021-08-30 02:40] #126 closed, assigned to nobody

[2021-08-30 02:48] pulsar-de commented on #127
I can't reproduce this. If i use the userinfo command on a user with the same level then it works as it should.
the line in question is:
`if not ( user == target ) and ( ( permission[ level ] or 0 ) < target:level() ) then`
The less-than sign checks if the target level is higher.

[2021-08-30 02:48] #127 closed, assigned to nobody

[2021-08-30 02:56] pulsar-de commented on #116
Fixed.

[2021-08-30 02:56] #116 closed, assigned to nobody

[2021-08-30 19:13] #128 closed, assigned to nobody

[2021-08-30 22:07] pulsar-de commented on #26
It can be avoided. Thx.

[2021-08-30 22:08] #26 closed, assigned to pulsar-de

[2021-08-30 22:17] pulsar-de commented on #44
I'am on your way, and it would be nice if this could be work in this way, but it's a clientside problem and we can't find a hubside solution at this place ;)

[2021-08-30 22:17] #44 closed, assigned to nobody

[2021-08-30 22:44] Sopor commented on #44
I think you misunderstood me. That is why it should be possible to have more than one port and only ports that users can use will be visible when running `+hubinfo` (or other commands that will show the port number).

[2021-08-30 23:30] pulsar-de commented on #62
That really makes sense. Thx.

[2021-08-31 14:24] pulsar-de commented on #107
Good idea, done. But if a user is not blocked (traffic/message) then it shows "NO".

[2021-08-31 14:24] #107 closed, assigned to nobody

[2021-08-31 17:57] pulsar-de commented on #130
What's wrong with it?
If a user was manually blocked and you try to block him again the msg is:
`Traffic Manager: User  <NICK>  is already blocked by:  <NICK>  |  Reason: <REASON>`
And if a user was auto blocked (because of sharelimit) and you try to block him again the msg is:
`Traffic Manager: The level of this user is already auto-blocked.`

That's exactly what i expect.

[2021-08-31 18:32] #98 closed, assigned to pulsar-de

[2021-08-31 18:34] Sopor commented on #130
Aleady fixed in #37

[2021-08-31 18:34] #130 closed, assigned to nobody

[2021-09-01 10:44] #123 closed, assigned to nobody

[2021-09-01 20:09] #103 closed, assigned to nobody

[2021-09-01 20:27] #101 closed, assigned to nobody

[2021-09-01 22:39] pulsar-de commented on #53
Now it shows the userlist in alphabetical order sorted by firstnick.

[2021-09-01 22:40] #53 closed, assigned to HypoM

[2021-09-01 23:29] pulsar-de commented on #47
Done. now it shows the comment from the registered user as default if exists

[2021-09-01 23:30] #47 closed, assigned to nobody

[2021-09-02 01:28] #31 closed, assigned to pulsar-de

[2021-09-02 02:06] pulsar-de commented on #75
the `+runtime show` command is basically unnecessary because of the `+uptime` command. I should remove it.

[2021-09-02 02:06] #75 closed, assigned to nobody

[2021-09-02 20:13] pulsar-de commented on #67
This happens with a faulty hci.lua. I will write a control function to prevent this in the future.

[2021-09-02 20:25] #67 closed, assigned to nobody

[2021-09-02 20:26] pulsar-de commented on #75
Now it shows complete runtime and session runtime.

[2021-09-02 20:48] pulsar-de commented on #65
Should fixed.

[2021-09-02 20:48] #65 closed, assigned to nobody

[2021-09-03 02:16] #95 closed, assigned to pulsar-de

[2021-09-03 13:57] #39 closed, assigned to nobody

[2021-09-11 17:15] pulsar-de commented on #132
Yes, you should compile a fresh luadch.

Heres a litte help to do this:

First of all, be sure that you are up2date:
`sudo apt-get update`
Maybe there is a newer version of your Raspbian OS out there, use:
`sudo apt-get upgrade`
To use Luadch you need the following software: "gcc" compiler, "openssl" and of course "git" to get luadch source, all should already be installed. If not use:
`sudo apt-g

[2021-09-11 17:15] #132 closed, assigned to pulsar-de

[2021-09-12 13:58] #134 closed, assigned to pulsar-de

[2021-09-22 21:48] pulsar-de commented on #58
removed: "etc_offlineusers.lua"
added: "cmd_usercleaner.lua"

[2021-09-22 21:48] #58 closed, assigned to nobody

[2021-09-22 21:48] pulsar-de commented on #17
removed: "etc_offlineusers.lua"
added: "cmd_usercleaner.lua"

[2021-09-22 21:48] #17 closed, assigned to pulsar-de

[2021-09-25 05:22] pulsar-de commented on #49
This is not exactly what was meant by the wish, but I think with this script the wish will still be fulfilled: [cmd_usercleaner.lua](https://github.com/luadch/luadch/blob/master/scripts/cmd_usercleaner.lua)

Among other things, this script offers the possibility to find and delete "registered but unused user accounts". An expiration date can also be set. This script is a part of Luadch since v2.23

[2021-09-25 05:22] #49 closed, assigned to nobody

[2021-09-25 05:58] pulsar-de commented on #99
This script makes it unnecessary to check if the use_keyprint is true: [etc_keyprint.lua](https://github.com/luadch/luadch/blob/master/scripts/etc_keyprint.lua)

[2021-09-25 05:58] #99 closed, assigned to blasti

[2021-09-25 09:24] pulsar-de commented on #91
Done.

[2021-09-25 09:24] #91 closed, assigned to blasti

[2021-09-27 10:20] pulsar-de commented on #23
added new listener "onReg" + "onDelreg"

[2021-09-27 13:51] pulsar-de commented on #115
added new listener "onFailedAuth"

the listener will be called on:

- _verify state

    - Invalid password

- _identify state

    - No CID/PID/nick found in INF
    - PID is invalid
    - CID is taken
    - NICK is taken
    - IP in INF does not match with real IP
    - Registered users only
    - Max bad password exceeded

here's a small example:

[code]

[2021-09-27 13:51] #115 closed, assigned to nobody

[2021-09-30 05:19] vildsvin666 opened #135 "force keyprint connections"
Hello!
How can I force only connections with keyprint and deny all other connections? :)

[2021-10-01 11:55] pulsar-de commented on #135
Thats not possible, because there is no way to determine whether the client is using the keyprint in the address field.

The keyprint is the checksum of the hub certificate. If a client uses this keyprint in the address field, he can compare whether this checksum matches the hub certificate. There are clients e.g. [AirDC](https://www.airdcpp.net/) that offer the option of refusing the connection i

[2021-10-01 11:55] #135 closed, assigned to pulsar-de

[2021-10-01 16:22] pulsar-de commented on #135
After a conversation in the dc, here is an addendum to clear up any misunderstandings:

The ADC protocol specs do not require the client to send this type of information to the hub. However, if the client does not send any information about whether the client is using a keyprint in the address field, the hub software cannot evaluate this either. If the hub does not know anything about it, it canno

[2021-10-07 16:19] pulsar-de commented on #102
I think the hub admin should set the rules for tolerated ciphers. what if the client wants to use an insecure cipher, should the hub allow that? I do not think so. the hub decides what's acceptable and what's not and the client adapts.

It works a bit differently with TLS 1.3. It is entirely possible to define which ciphers are acceptable for the hub and which are not. There are two possibilities:

[2021-10-07 16:19] #102 closed, assigned to pulsar-de

[2021-10-07 16:46] Tantrix commented on #102
Not really.

There is **no** DC client with a built-in cipher detection mechanism except the newest DC++ 0.870. That means, for the vast majority of users the first cipher offered will be used.

Btw still do not understand what is that string for. There are no 3DES ciphers for TLS 1.3, no PSK or NULLs, no insecure ciphers at all...

[2021-10-07 17:37] pulsar-de commented on #102
The order of the ciphers used by the client is decisive. e.g.: AirDC++ uses in his [CryptoManager](https://github.com/airdcpp/airdcpp-windows/blob/master/airdcpp/airdcpp/CryptoManager.cpp#L145) this order:
[code]
As you can see, the "TLS_AES_128_GCM_SHA256" is the first cipher in the AirDC priority order. if the hub offers this, it will also be used. AirDC only jumps to the next cipher in the list

[2021-10-08 15:20] Tantrix commented on #102
Uhu. Did some testing. Seems like you are right about the order of the ciphers.

But.

From the hub's (and hub admin too!) point of view that is not the same.

I.e. if I **do not** want **TLS_AES_256_GCM_SHA384** cipher to be used I will disable it totally, independently from DC client _wants_ to use. And it will comply.

That means, **TLS_AES_128_GCM_SHA256** or **ChaCha** cipher will be used. Wh

[2021-10-10 15:16] perlaxe opened #139 "luasocket socket bind: address already in use"
Hi,
I have the following error very often on restart (linux) , seems like the port is still in use:

server.lua: function 'addserver', luasocket socket bind: address already in use

[2021-10-10 16:53] Sopor commented on #139
I also got that message when i did a `+restart`. I was forced to kill Luadch and start it as i normally do with `./luadch`

[2021-10-11 11:45] perlaxe commented on #45
Perhaps not the most elegant, but I solved it by changing the scripts to add an alternate commands: like in case of useruptime for example, added cmd1. But of course this makes life more difficult when you want to upgrade to newer version.

local cmd = "useruptime"
local cmd1 = "uu"

...

    if (( command == cmd ) or ( command == cmd1 )) and param1 then
...

        assert( hubcmd.add( {cmd,cmd1}

[2021-10-12 20:32] Sopor commented on #139
It seems that i need to shutdown the hub and wait 30-60 seconds and start it again to avoid this message. That will make the +restart fail every time :(

[2021-10-12 20:45] Sopor opened #140 "cmd_nickchange.lua - need to restart hub to get new nick to work"
It seems that after removing hub.reloadusers() the command `+nickchange` won't work as it should. It will rename the account but you can't login with it. For the new nick to work you need to restart the hub.

Luadch 2.23 RC7, but someone told me it is the same in 2.22.

[2021-10-12 20:48] Sopor opened #141 "cmd_accinfo.lua - bad argument #1 to 'find' (string expected, got nil)"
When running +accinfo i get this error message:
[code]

Luadch 2.23 RC7

[2021-10-13 14:48] corruptview commented on #141
Same for me

[2021-10-15 02:05] #140 closed, assigned to pulsar-de

[2021-10-15 02:50] pulsar-de commented on #141
The problem is the "search_flag_blocked".
the "cmd_accinfo.lua" script searches the descriptions of the users and checks whether someone has this "search_flag_blocked".
if you change the "flag_blocked" in the "etc_trafficmanager.lua" script, which you shouldn't do because it is not in the settings area but in the code area, then it no longer matches the search string of the "cmd_accinfo.lua" scrip

[2021-10-15 03:01] #23 closed, assigned to pulsar-de

[2021-10-15 03:01] #82 closed, assigned to nobody

[2021-10-15 03:01] #141 closed, assigned to pulsar-de

[2021-10-19 22:23] Sopor commented on #129
@pulsar-de There is a tiny issue with this fix. It will be visible in the history log

etc_chatlog_log.tbl:
[code]
The command begins with a space.

[2021-10-21 20:21] Sopor commented on #139
@perlaxe What OS version of Luadch do you run, Linux, ARM or Windows?

I'm running Linux and i get the `address already in use` every time i restart Luadch.

[2021-10-22 16:54] perlaxe commented on #139
Debian 10, but it was the same on Ubuntu.

[2021-11-12 10:29] Tracnare opened #143 "scripts.lua: script error: ././scripts/etc_chatlog.lua:272"
Hello I encountered an error following the update of the server, the message appeared in the chat log and in the error.log file.
how to solve this error thanks for your help.

luadch: v2.22

`scripts.lua: script error: ././scripts/etc_chatlog.lua:272: wrong type: utf8 expected, got string (listener: onLogin; script: 'etc_chatlog.lua')`

[2021-11-12 16:55] Sopor commented on #143
Convert the chatlog to UTF-8 and it should disappear.

[2021-11-30 07:58] Ninja-FSE commented on #143
i also have this error message, looked in diffrent code programs like Visual Studio, Notepad++ and my etc_chatlog.lua is UTF-8.

running Luadch v2.22 RC4

[2021-11-30 10:30] blasti commented on #143
Open your `etc_chatlog.lua` in Notepad++, click in the menu on "Enocding" and convert it to UTF-8. Save the file.
Important: Do **not** use UTF-8-BOM.

[2021-11-30 10:30] #143 closed, assigned to blasti

[2021-11-30 12:03] Ninja-FSE commented on #143
This is not working, both Visual Studio and Notepad++ is showing UTF-8 and not UTF-8-Bom.

[2021-11-30 13:23] Sopor commented on #143
@blasti So, it isn't the `etc_chatlog_log.tbl` that should be converted?

If i open the unmodified `etc_chatlog_log.tbl` after i compile Luadch it is in ANSI Latin 1

[2021-11-30 14:01] Ninja-FSE commented on #143
i converted chat_log.tbl as well, didnt help

[2021-11-30 15:29] Sopor commented on #143
@Eyeflow Did you shutdown Luadch before you converted it?

[2021-11-30 16:21] Ninja-FSE commented on #143
@Sopor yes

[2021-12-10 00:18] Tantrix opened #144 "etc_msgmanager.lua does not block MC messages"
[code]

Users are still allowed to write MC messages.

[2021-12-10 00:43] Sopor commented on #144
It would help the developers if you also write what version of Luadch you are running.

[2021-12-10 01:05] Tantrix commented on #144
Ah, yes, sorry.

2.22 Release

[2021-12-10 01:35] Sopor commented on #144
I can confirm that main messages will not be blocked.

It seems that i can send PM even if that is set to false too, but maybe it won't affect PM's to OP's?

Tested on 2.23 RC9

[code]

[2021-12-10 03:14] Tantrix commented on #144
I cant confirm that.

[code]

`<Luadch> You are not allowed to write private messages.`

[2021-12-10 04:18] Tantrix opened #145 "min/max_nickname_length"
_min/max_nickname_length_ parameters seem to be not functional.

I.e. when

`max_nickname_length = 32`

user **TEBAGINPIZDAMATIIDEOPTORISIJUMATATE** is able to connect.

2.22 Release.

[2021-12-10 21:01] Tantrix commented on #144
Yepp, bugged totally. Cant even block MC when it's allowed.

[code]
and
[code]

Then for zero level user:

[2021-12-10 21:20] Tantrix commented on #102
Thanks.

`				ciphersuites = "TLS_CHACHA20_POLY1305_SHA256",`

works for me.

2.22

[2021-12-10 21:32] Tantrix opened #146 "Some etc_trafficmanager.lua errors"
Both errors were spotted during the initial hub configuration when playing with description prefixes and traffic manager scripts.

Errors appeared when the client with Russian chars in its description logged in. Its [BLOCKED] prefix was removed.

Not sure I can reproduce that, sorry.

2.22

[2021-12-10 21:36] Tantrix opened #147 "usr_hubs.lua script misses redirect option"
Similar to 'slots' and 'share' scripts.

[2021-12-10 21:46] Tantrix opened #148 "cmd_ban.lua: IP range ban option is missing"
Like that.

[2021-12-10 22:26] Tantrix opened #149 "Default hub(s) limit?"
The TE hublist says: Hub limit: 300

usr_hubs.lua is disabled.

How to remove the hub limit completely?

[2021-12-11 05:59] Tantrix commented on #149
Aha, seems like that limitation is not in use, it's just a number sent to hublist.

[2021-12-11 13:11] Tantrix opened #150 "Add more tempban options"
1 month
6 months
1 year.

[2021-12-11 15:33] Sopor commented on #144
@Tantrix I suggest you to run `2.23 RC9` instead of 2.22 that has a lot of small bugs.

[2021-12-11 15:37] Tantrix commented on #144
@Sopor Too late, Babylon is already running the latest release version.
However, I would be thankful for the quick fixes.

[2021-12-11 17:17] Tantrix opened #151 "What is etc_offlineusers.lua script good for?"
The title asks it all.

[2021-12-11 17:20] Tantrix commented on #150
Also IMO

[code]

default strings may be deleted.

[2021-12-11 17:26] Sopor commented on #151
That script is not used anymore and it is replaced with `cmd_usercleaner.lua`.

[code]

[2021-12-11 17:45] Sopor commented on #145
I assume it will not block already existing accounts. If `max_nickname_length` is set to 32, you will not be able to create an account that has more than 32 chars.

[2021-12-11 17:52] Tantrix commented on #145
Oh? My goal was to limit regular users connecting, not just new accounts...

[2021-12-11 17:56] #151 closed, assigned to Sopor

[2021-12-14 21:47] Sopor commented on #143
I get the same error message and i have tried to convert the log but it continues to show up at login.

If i view line for line with `+history show XX` i can view 16 lines but if i try 17 it won't show anything. I don't even get an error message.

I only get the error message when users login.

Line 17 has these chars `l|̲̅̅●̲̅̅|̲̅̅=̲̅̅|̲̅̅●̲̅̅||` (it should look like a boom box i assume)

[code]

[2021-12-23 20:37] Ninja-FSE opened #152 "SID/CID"
What does this means and how does it works?

got an [FAILED AUTHENTICATION] Reason: Your CID is taken.

[2021-12-24 21:37] Sopor commented on #152
It happens when the user disconnects without the hub knows it. It is quite annoying and you can disable it by comment it out:

open core/hub.lua and add `--` in front of the row (in my case row 1776):
[code]

`+reload` doesn't work when you make changes in core, so you need to restart Luadch.

I hope there will be a real fix for it soon.

[2021-12-25 08:23] Ninja-FSE commented on #152
Okey cool thanks for the info! Merry Christmas!

[2021-12-25 15:31] Ninja-FSE commented on #73
Sorry for bumping an old issue that is closed and seems to be fixed, but this fix only apply's to Op-Chat, how does this work if i want to hide other bots or users?

[2021-12-26 11:53] Havokdan opened #153 "How do I create a hub that users can register alone?"
How do I create a hub that users can register alone? As in most NMDC hubs, I would like to know which options I should move to look like them at that point.

[2022-01-24 15:16] Sopor commented on #32
It seems that this bug is not fixed. It will sometimes still be a `forever` ban :(

[2022-01-26 19:21] mdPlusPlus opened #154 "[2.22-Linux-x64] make_cert.sh has the wrong line endings"
[code]
To fix:
[code]

The bash files (*.sh) are also not executable by default (`chmod +x *.sh)`, but I'm not sure whether that might be a limitation by `tar`.

[2022-01-26 20:11] mdPlusPlus commented on #153
I'm new to Luadch, but I think you need to change `reg_only = true,` to `reg_only = false,` in `cfg/cfg.tbl`.

[2022-01-26 22:51] Havokdan commented on #153
Yes, but that does not allow it to register.

[2022-01-27 02:02] Sopor commented on #153
When you change `reg_only` to `false` it will only be a public hub. The user can't register himself. An OP need to do that.

I haven't seen any command for it, so i think you need to do a feature request for it @Havokdan if you want it.

[2022-01-28 23:20] mdPlusPlus opened #156 "Non-Ascii two byte charcter В in scripts/cmd_gag.lua"
See
https://github.com/luadch/luadch/blob/78fb01dcf766e2528c3b24442b2bc04e588d69cf/scripts/cmd_gag.lua#L66
and
https://github.com/luadch/luadch/blob/78fb01dcf766e2528c3b24442b2bc04e588d69cf/scripts/cmd_gag.lua#L71

The letter `В` in `"*Вumf* "` is a non-ascii two byte char which translates to `208 146` while a normal ascii single byte `B` translates to `066`. It is the only non-ascii char in `char

[2022-01-28 23:33] mdPlusPlus commented on #154
This seems to be an issue only in the release tarball, not in the actual code itself. Does someone manually create these tarballs?

[2022-03-05 17:29] Sopor opened #157 "cmd_delreg.lua - only level 100 can delreg a user"
If an OP with level 60 want to delreg a user with lever 20 this message will show up:
`[ DELREG ]--> You are not allowed to use this command or to delreg targets with this level.`

[code]

Luadch 2.23 RC9

[2022-03-05 17:53] Sopor opened #158 "etc_chatlog.lua - wrong type: utf8 expected"
It will still be this error message when a user login and there are non-standard chars in the chatlog
scripts.lua: script error: ././scripts/etc_chatlog.lua:269: wrong type: utf8 expected, got string (listener: onLogin; script: 'etc_chatlog.lua')

Luadch 2.23 RC9

[2022-03-05 17:59] Sopor commented on #156
![image](https://user-images.githubusercontent.com/5789283/156894880-7c51702f-010b-45e0-bf8a-80a251aa3df5.png)

[2022-03-05 18:59] Sopor opened #159 "cmd_gag.lua - kennylized users will not be logged to etc_chatlog_log.tbl"
If i kennylize a user it will not be added to etc_chatlog_log.tbl and i'm pretty sure it has been added in previous versions.

Luadch 2.23 RC9

[2022-03-05 19:11] Sopor commented on #158
If i type this i will get the above error message when a user connects, but if i run `+history show` it will not show any error messages.
[code]

It seems to have something to do with:
`etc_chatlog_max_characters = 66, -- default amount of characters for each post at Login` because if i increase the value there will not be any error messages.

[2022-03-06 14:58] blasti commented on #139
When you restart the server, all open connections will be closed. But closing each connection takes some time, up to several minutes:

[Reference](http://www.netzmafia.de/skripten/inetprog/unix-socket-faq-4.html)

[2022-03-06 14:58] #139 closed, assigned to blasti

[2022-03-06 15:50] #157 closed, assigned to blasti

[2022-03-06 18:07] #159 closed, assigned to blasti

[2022-03-06 19:12] Sopor commented on #32
@blasti @pulsar-de Please reopen this because it is not fixed!

[2022-03-08 18:10] blasti commented on #139
On Linux, you can use `netstat -ntp` to see connections, which are stuck in the TIME_WAIT state.
Those connections cause the "already in use" error during restart of Luadch.

Appearently, this is only an issue on Linux. I cannot reproduce the problem when restarting luadch on Windows 10.

[2022-03-08 20:32] blasti commented on #139
Fixed in [5c773e5](https://github.com/luadch/luadch/commit/5c773e5de16110b4bc9d5244bb7fd6182dafc368).

After `+restart` or manual restart, Luadch will now try to rebind every 30 secs, until "address already in use" error is gone. Depending on TIME_WAIT state, this might take some time. On my machine up to 4 minutes. After that, clients can reconnect again.

Especially `+restart` works now as expec

[2022-03-08 20:41] blasti commented on #149
Issue solved?

[2022-03-09 12:14] Tantrix commented on #149
Not really.

Here you are: https://www.te-home.net/?do=hublist&id=5382

Not the hub of mine, but the number is pretty the same.

Again, it seems to be default maxhubs number sent to hublist.

[2022-03-09 13:07] blasti commented on #45
Your approach is correct. Note, that if you use `hubcmd.add`, you don't have to check `( command == cmd )` in the registered function `onbmsg`. This is already checked by `hubcmd`:

https://github.com/luadch/luadch/blob/5c773e5de16110b4bc9d5244bb7fd6182dafc368/scripts/etc_hubcommands.lua#L49

So, to add aliases, basically do:

[code]

I added this for `usr_uptime.lua` in d06f9214bda2dac81e38ce8952

[2022-03-09 13:07] #45 closed, assigned to blasti

[2022-03-09 18:23] blasti commented on #158
I cannot reproduce the problem. I would need a sample file to test.

Meanwhile I changend the utf8 validation code in https://github.com/luadch/luadch/commit/8aad5d34b967765d5b4860f3668b983eca1b5535, please test again with it.

[2022-03-09 18:24] blasti commented on #143
See also #158 and https://github.com/luadch/luadch/commit/8aad5d34b967765d5b4860f3668b983eca1b5535

[2022-03-09 18:26] blasti commented on #19
See also #158 and https://github.com/luadch/luadch/commit/8aad5d34b967765d5b4860f3668b983eca1b5535

[2022-03-09 18:35] #156 closed, assigned to blasti

[2022-03-09 18:35] blasti commented on #156
As long as it is utf-8 encoded, everything is fine. Anyway, I replaced non-ASCII chars in that script (see 71cb24d)

[2022-03-09 18:37] blasti commented on #153
One can write a script to allow self registering, please go ahead.

[2022-03-09 18:37] #153 closed, assigned to blasti

[2022-03-09 18:45] blasti commented on #152
Listener "onFailedAuth" was introduced in 384c17c174280d925ca5d14cfce0211612d20d20.
Not sure why, probably to inform OPs. Need to study the code.

[2022-03-09 19:21] maksis commented on #105
There's also a modified version of ADCH++ supporting this feature: https://github.com/maksis/adchpp-hbri

It can be tested with AirDC++ by joining adcs://web-dev.airdcpp.net:1511

[2022-03-09 19:29] #152 closed, assigned to blasti

[2022-03-09 19:32] blasti commented on #147
As Luadch is mostly running private hubs, redirection is not that important.

[2022-03-09 20:34] #145 closed, assigned to blasti

[2022-03-09 21:13] blasti commented on #73
Same way as here:

https://github.com/luadch/luadch/blob/d7135a01ac78439508e26355471c1219004d0cd0/scripts/etc_hide_opchat.lua#L20

Get the SID of a user/bot you want to hide, then send QUI message to target user.
What users/bots do you want to hide?

[2022-03-09 21:30] blasti commented on #146
Probably a problem in `format_description` with multiple byte utf-8 codepoints in the description of the user:

[code]

If `desc` contains multibytes, `desc:sub( 1, #desc_tag )` can screw it up. You end up with an invalid utf-8 string, which causes your error message. Solution: Use `utf8.sub` of a proper utf-8 lib, or rewrite the code in a safe way.

[2022-03-09 22:22] Sopor commented on #73
It seems that if i do a `+reload` the op_chat wil be visible again :(

[2022-03-09 22:34] blasti commented on #73
Of course. Easy fix: Register onStart listener, iterate through all  online users, test for level, send Quit message.

[2022-03-10 09:42] Tantrix commented on #147
That's why there is no need in users connected 100, 200, 300 or more hubs.

[2022-03-10 23:24] blasti commented on #5
You are right. Epoch timestamps would be better.

At the moment timestamps are saved as yyyymmddHHMMSS, that is by

[code]

This timestamp is saved in local time of the hub. This can cause subtle bugs and problems, if

1. If date settings of the machine are changed by the administrator (e.g. hub is starting, saved timestamps are suddenly in the future)
2. Saved files with timestamps are migrated t

[2022-03-12 07:49] #144 closed, assigned to pulsar-de

[2022-03-12 07:57] pulsar-de commented on #144
quick fix:

 replace these files:
- "scripts/etc_msgmanager.lua"
- "scripts/lang/etc_msgmanager.lang.de"
- "scripts/lang/etc_msgmanager.lang.en"

[2022-03-12 10:43] pulsar-de opened #160 "UNREG and MainChat"
### Discussed in https://github.com/luadch/luadch/discussions/137

<div type='discussions-op-text'>

<sup>Originally posted by **RGM12** October  3, 2021</sup>
etc_msgmanager_permission_main = {  -- who is allowed to write main messages? (array of boolean)

        [ 0 ] = false,  -- unreg
        [ 10 ] = false,  -- guest
        [ 20 ] = true,  -- reg
        [ 30 ] = true,  -- vip
        [ 40

[2022-03-12 10:46] pulsar-de commented on #160
fixed: https://github.com/luadch/luadch/commit/754420795d824bd0b717ae1c8352b946637953b2

[2022-03-12 10:46] #160 closed, assigned to pulsar-de

[2022-03-13 20:27] pulsar-de commented on #149
It would be interesting to find out how exactly the "hublist" determines this "max hub".

default cfg.tbl:

[code]

maybe it's a simple addition of these variables: ```max_user_hubs + max_reg_hubs + max_op_hubs```

[2022-03-13 20:46] RoLex commented on #149
@ https://nmdc.sourceforge.io/NMDC.html#_hubinfo

LuaDCH provides that value in ``$HubINFO``.

[2022-03-13 22:07] blasti commented on #149
Luadch is an ADC hub. The NMDC protocol does not apply here, but the ADC Pinger extension does:

https://adc.sourceforge.io/ADC-EXT.html#_ping_pinger_extension

[2022-03-13 22:16] pulsar-de commented on #147
Added redirect functionality. -> https://github.com/luadch/luadch/commit/73e1c9c7617fdf6dc9dc34b094acda86e20f6b58

[2022-03-13 22:16] #147 closed, assigned to pulsar-de, blasti

[2022-03-13 22:55] pulsar-de commented on #149
Yes thats the answer.

hub.lua:
[code]
The hublist client pings the hubs and thus gets the necessary information for the evaluation. So it should also be clear that the data obtained in this way is individual for each hub and not static.

[2022-03-13 23:51] Tantrix commented on #149
https://www.te-home.net/?do=hublist&id=5492 - the test hub

Again, usr_hubs.lua is disabled.

Will see :P

[2022-03-14 00:00] pulsar-de commented on #149
hub.lua:
[code]
It doesn't matter if usr_hubs.lua is disabled, the information is loaded from cfg.tbl . :P

[2022-03-14 01:15] Tantrix commented on #149
Anyway hub shouldn't send to hublist information different from its real rules.

Correct.

gives

[2022-03-14 01:41] pulsar-de commented on #149
In accordance with the [ADC Extensions](https://adc.sourceforge.io/ADC-EXT.html#_ping_pinger_extension) rules (3.4. PING - Pinger extension) the hub sends additional informations to hublist pingers, **but:**

hub.lua
[code]
cfg.tbl:
[code]
**...the hub only does this when running in public mode**

I think that should really be the end of the topic now :)

[2022-03-14 05:21] HadesDCH commented on #149
So for max hubs setting  -> adc hub soft should be sending  IINF to pinger with MU (integer)? along with the rest of info???
...
Never seen a single adc soft sending this - so i consider it unsupported in general.

[2022-03-14 07:18] pulsar-de commented on #149
Are you sure? what reference are you referring to?

[ADC Extensions](https://adc.sourceforge.io/ADC-EXT.html#_ping_pinger_extension) -> _MU  |  integer  |  Minimum hubs connected where clients can be users_

Unfortunately i can't find any flag related to "max hubs" setting...

[2022-03-14 16:12] #150 closed, assigned to pulsar-de

[2022-03-14 16:32] HadesDCH commented on #149
You are right. Minimum.
How about XU then?  <html>
<body>

XU | integer | Maximum hubs connected where clients can be users
-- | -- | --

</body>
</html>

I'm confused on this myself.

[2022-03-14 17:06] Tantrix commented on #149
Wow wow, wait a minute, there is a couple of problems actually.

1) That's not right to use script parameter as a basic hub parameter because in case of disabled script (my case above) a hublist gets an irrelevant information.

2) It seems like there is no 'max_hubs_total' or 'hub limit' for ADC pinger INF at all. But for sure that number should not be presented as a summa of restrictions.

[2022-03-14 17:08] blasti commented on #149
Then just don't disable `usr_hubs.lua`, which will ensure, that the hub rules are carried out.
To summarize:

1) If in public mode, Luadch will correctly send information according to the ADC PING extension.
2) There are 3 different hub limits. How the hublist software interprets and displays it, is not Luadch's concern.
3) If in reg-only mode, Luadch will not reply to hublists.
4) Don't disable `

[2022-03-14 17:08] #149 closed, assigned to pulsar-de, blasti

[2022-03-14 17:24] blasti commented on #149
You can always shoot yourself in the foot, if you want to. Luadch will not prevent this.
I admit, that there is no clear distinction between core/scripts parameters in the cfg.tbl anymore.
This is something I actually think about.

Not Luadch's concern. This is something the ADC protocol needs to address.

The total internal hubs of Luadch can be set in `cfg.tbl` with entry `max_hubs`

[2022-03-14 17:38] Tantrix commented on #149
I see now, thanks.

Seems to be hublist problem, not luadch.

[2022-03-14 19:59] RoLex commented on #149
Oh, indeed it is an ADC hub. I was too fast to answer the question, because in NMDC there is only one parameter - total number of hubs, regardless the (N)ormal/(U)ser, (O)perator or (R)egistered status.

I guess this becomes an issue due to same "display" of both NMDC and ADC hubs on my hublist. Since ADC states different hub limit numbers, in next version I will make sure to display them differen

[2022-03-15 15:56] blasti commented on #158
Issue solved?

[2022-03-15 19:29] Sopor commented on #158
Sorry to say it, but it isn't solved :(

[code]

[2022-03-15 20:23] pulsar-de commented on #153
There is already an old script for this: [cmd_regme.lua](https://github.com/luadch/luadch/blob/master/examples/etc/other_available_scripts/cmd_regme.lua)

However, I can only advise against giving users the opportunity to register themselves.

[2022-03-15 20:44] pulsar-de commented on #32
Please determine if the cause of this problem is not one of the add-on scripts you are using. Because no one else noticed or reported this problem except you. Unfortunately it cannot be reproduced yet.

[2022-03-15 22:07] Sopor commented on #32
The ban script is still containing forever code. You wrote it was removed, but it isn't.

Don't make negative values ban forever.

[2022-03-15 22:20] Sopor commented on #32
@Tantrix You seems to like to ban for a week or more 😊

Have you noticed this behavior that a ban will not be removed and it will change to a forever ban?

[2022-03-15 22:25] blasti commented on #158
Ok I found the bug. Was introduced by fix for #62:

https://github.com/luadch/luadch/blob/dc2e03389a1f5e9bc96e0812697ae7099f1eacbc/scripts/etc_chatlog.lua#L326

The `string.sub` function will cut through UTF-8 text without considering multi-byte codepoints. This can destroy it.

1) The whole luadch codebase might be vulnerable to this bug
2) We need to use a proper `utf8.sub` routine (slnunicode s

[2022-03-15 22:34] Tantrix commented on #32
@Sopor I 'like' to ban only really, really bad guys for sharing really, really bad videos.

However, I will run some tests regarding this issue.

[2022-03-15 22:50] blasti commented on #62
Wrong approach.

Don't accept mainchat messages with length > limit in the first place. Then such messages won't be saved in the chatlog.
And what is definitely the wrong thing to do is to cut a text in some arbitrary way. Either keep a text as it is, or discard it completely.

[2022-03-16 12:19] Sopor opened #162 "Unknown commands will be saved to etc_chatlog_log.tbl"
Issue #129 will prevent commands to be visible in main if the user for some reason start the line with a space.

It will also answer with  `Unknown command. Check leading spaces and syntax.` and that is great, but the command that the user typed wrong will be visible in the chatlog when a user logs in or if a user use the command `+history show`

[2022-03-16 14:03] pulsar-de commented on #158
I removed the "max_characters" functionality with "string.sub" from code.

[2022-03-16 14:03] pulsar-de commented on #62
I removed the "max_characters" functionality with "string.sub" from code.

[2022-03-16 14:05] pulsar-de commented on #162
I added a better command check.

[2022-03-16 14:08] #162 closed, assigned to pulsar-de

[2022-03-16 14:08] #62 closed, assigned to nobody

[2022-03-16 14:08] #158 closed, assigned to blasti

[2022-03-16 19:07] Tantrix commented on #32
Well, I have another cool bug actually.

Applied 1-week ban on a user for a test. After some time it isn't in the list, user unbanned.

I thought I did something wrong and banned him (one of my own clients) again with the same result shortly after.

Ban history states all apllied bans as active.

I also checked the _cmd_ban_bans.tbl_ file, the ban definitely was applied.

Update: User unbanned aga

[2022-03-17 17:28] Tantrix opened #164 "Wrong minshare send to hublist"
According to hub settings and https://adc.sourceforge.io/ADC-EXT.html#_ping_pinger_extension **MS1** should be **MS1048576**

[2022-03-17 17:37] Tantrix opened #165 "Can't set minshare without redirect"
Still, 0 bytes shared users allowed.

Prevents those users from connecting.

[2022-03-17 17:56] pulsar-de commented on #164
converted "_cfg_min_share" in "_pingsup" from gigabyte to byte  / thx Tantrix

[2022-03-17 18:03] #164 closed, assigned to pulsar-de

[2022-03-17 18:18] pulsar-de commented on #165
Just trying to reproduce:

Without redirect:
`[19:11:02] <Luadch Hub> [ USER SHARE ]--> Hub min share:  1.00 GB  |  Hub max share:  200.00 TB  |  Your share:  0 B`

With redirect:
`[19:16:43] *** [ USER SHARE ]--> You got redirected because:  [ USER SHARE ]--> Hub min share:  1.00 GB  |  Hub max share:  200.00 TB  |  Your share:  0 B`

Worked as it should.

[2022-03-17 19:52] Tantrix commented on #165
What settings should I check additionally?

[2022-03-17 20:13] pulsar-de commented on #165
I can only think of the trafficblocker. Instead of a disconnet, he can use the blocker if the user has not enough share.

If:
`etc_trafficmanager_activate = true, -- activate this script? (boolean)`
And:
`etc_trafficmanager_check_minshare = true,  -- block user instead of disconnect if usershare < minshare? This feature checks all users < oplevel (boolean)`

[2022-03-17 20:57] Tantrix commented on #165
Yepp, it worked.

I should note `etc_trafficmanager.lua` was disabled via scripts array previously.

Is it not the same as `activate = false` setting?

[2022-03-17 21:20] pulsar-de commented on #165
No, it's not the same, there are dependencies in other scripts.
Issue solved?

[2022-03-17 23:34] #165 closed, assigned to pulsar-de

[2022-03-18 20:43] blasti opened #166 "Cleanup Lua API in hub.c"
- [ ] Evaluate "cleantable"; is this function useful?
- [ ] Remove "tablesize"; can be emulated with pure Lua

[2022-03-18 21:00] blasti opened #167 "Don't overwrite or change scripts during loading"
At them moment, core/scripts.lua does the following at start:

1) read each script from disk
2) strip possible UTF-8 BOM
3) write back to disk
4) use loadfile to load script and display errors

This causes scripts, which are opened in an editor, to be reloaded by the editor, which is annoying.
For instance Notepad++ will inform you each time, that the scripts have changed on disk, after you did a

[2022-03-19 00:09] #167 closed, assigned to blasti

[2022-03-19 00:11] blasti commented on #167
Chose option 3)

[2022-03-19 00:24] blasti opened #168 "Handle exit events like SIGTERM to end luadch gracefully"

[2022-03-19 16:40] Cmdrd opened #169 "Luadch binary not loading SSL lib"
When starting up v2.22, optional lib 'ssl' does not get loaded. Additionally the SSL portion of Luadch does not start, only the non-SSL portion. There is an errror in the error logs:

I have tried to find a workaround but no luck so far.

[2022-03-19 16:48] Cmdrd commented on #169
Here is the startup output:

[2022-03-19 17:09] Cmdrd commented on #169
Resolved. I copied the directories incorrectly when updating, as seen in the last line of the startup output.

[2022-03-19 22:41] blasti opened #170 "Remove pre.lua and DEBUG"

[2022-03-19 22:43] #170 closed, assigned to blasti

[2022-03-20 01:55] #168 closed, assigned to blasti

[2022-03-22 09:55] Sopor commented on #45
I don't get it? Alias for one command and it is way to complex for us regular guys that don't code ☹

My suggestion was to create an alias script that was easy to edit and add and change alias for most of the commands you use in Luadch.

And when you update Luadch you have to edit every single script that you have added an alias to. Not very practical.

For this to work it must be very easy to add

[2022-03-22 17:07] blasti commented on #45
Give me a complete list of aliases you think to be useful, and I'll officially add it.

But there are more important things to do then to write such a script.

[2022-03-24 15:10] Sopor commented on #45
I asked for this for almost 5 years ago. No hurry, It can wait another 5 years.

There is no need to do it half way. Do it right or not at all.

[2022-03-25 08:44] Sopor opened #171 "etc_trafficmanager.lua - Prevent BLOCKED users from receiving/replying searches"
When a user is `BLOCKED` they will still reply on searches and my client tries to download the file list, but because the user is blocked it can't download the file list. So, when `Automatically search for alternative bundle sources` is enabled it will match against blocked users too.

So, after a while i have several file lists in queue that never will be downloaded and i can also see them in the

[2022-03-27 20:45] pulsar-de commented on #171
The second is not possible because the client sends the response "URES" via the UDP port, the hub doesn't notice anything. But the first is possible.

[2022-03-27 20:46] #171 closed, assigned to pulsar-de

[2022-03-27 20:59] pulsar-de commented on #63
fixed with: https://github.com/luadch/luadch/commit/213d96c298dbd5bab084c779e1281dcc0f5f9363

[2022-03-27 20:59] #63 closed, assigned to pulsar-de

[2022-03-28 00:04] pulsar-de commented on #154
- changed: "certs/make_cert.sh"
        - changed to unix line endings "LF"

    - changed: "certs/make_keyprint.sh"
        - changed to unix line endings "LF"

    - changed: "certs/show_certinfo.sh"
        - changed to unix line endings "LF"

thx.

[2022-03-28 00:19] #154 closed, assigned to blasti

[2022-03-31 21:31] Tantrix opened #172 "Ensure clients secure transfers availability"
I miss an option to prevent clients with no or disabled secure transfers from entering a hub.

Still investigating, but _maybe_ this can be done by checking ADCS in SU as https://adc.sourceforge.io/ADC-EXT.html#_adcs_symmetrical_encryption_in_adc says.

[2022-03-31 21:42] blasti commented on #172
In theory, the hub cannot prevent unsecure transfers, as transfers are negotiated between clients.
In practice, you can enforce secure hub - client connections by open TCP TLS ports only. Most sane clients should then use secure client - client connections too.

[2022-03-31 21:47] Tantrix commented on #172
Yes, I know.

But there is an option in ADCH++ to check if they are supported.

_suadcs - current value: 0 - disallow users that have disabled ADCS (TLS) support for file transfers_

Depends on client itself and its settings.

[2022-03-31 21:49] blasti commented on #172
Ok, I will check this.

[2022-03-31 23:07] Sopor commented on #172
[code]

[2022-04-01 07:48] blasti commented on #172
A strategy for such an option could be as follows:

- [ ] Only open TLS ports for hub
- [ ] Check for `ADC0` and `ADCS` in SU of INF, as well as in CTM and RTM
- [ ] Allow only clients which supply a keyprint (keyprint extension is needed to avoid man in the middle attacks)

[2022-04-01 08:03] blasti commented on #172
As a tangential question, does anybody know how the current state of the [SUDP extension](https://adc.sourceforge.io/ADC-EXT.html#_sudp_encrypting_udp_traffic) is? (@maksis)

[2022-04-01 20:56] Tantrix commented on #172
Just FYI: secure transfers are in use regardless of adc:// or adcs:// address used. ApexDC++ is the only exception.

That was my initial doubt.

Look, both clients have secure transfers enabled, but no ADCS SU shown: https://prnt.sc/zxRACbpSi7Xy

[2022-04-02 00:44] Tantrix commented on #172
Aha, got it finally.

ADC0 SU goes away when TLS disabled.

And ADCS SU is announced just by ncdc yet.

I think there is no need for that. It seems to be a resource-intensive operation by the way.

[2022-04-02 06:29] pulsar-de commented on #172
I wrote a small script, maybe it helps you: [etc_client_su_check_v0.1 (english)](https://github.com/luadch/scripts/blob/master/zip/etc_client_su_check_v0.1%20(english).7z)

[2022-04-04 15:21] Tantrix commented on #172
Thanks, will test it shortly.

[2022-04-04 23:58] Tantrix commented on #172
Oops.

When

`[ "ADC0" ] = true,  -- If the client "Settings/Security/Use TLS" option is set, then the client sends this flag`

the script seems to be reacting exactly when this SU **is present**.

[2022-04-06 03:48] pulsar-de commented on #172
Yes, thats true, sry...  :)

Try this one: [etc_client_su_check_v0.2 (english)](https://github.com/luadch/scripts/blob/master/zip/etc_client_su_check_v0.2%20(english).7z)

[2022-04-06 06:09] Tantrix commented on #172
All good now.

Thanks.

[2022-04-06 08:59] #172 closed, assigned to blasti

[2022-04-08 19:01] pulsar-de commented on #146
Tried to reproduce it. In my tests i used a mixture of normal and 2-byte utf8 characters:

`"AݔAé ҈ ڴ߷ ߰fЊ۩Ћ؄ѬbÜصӕЌЍk֍Жc߾۞ѾФöЩҸЮäܮжфы"`

I used this string as a description tag as well as a blocked flag, unfortunately i could not reproduce the error. It would be great if you could post me some of the error-triggering characters so i can reproduce and fix the error.

[2022-04-09 20:28] Tantrix commented on #146
Trying to reproduce.

I should ask: how to enable [BLOCKED] prefix in the nickname, not the description (or both)?

Why I'm asking: AFAIR when I spotted the bug that prefix was removed from the nickname (not sure about description).

[2022-04-10 01:26] pulsar-de commented on #146
The trafficmanager does not change nick tags, only descriptions.

[2022-04-10 01:50] Tantrix commented on #146
Oh, there is a new release, will run my tests there.

[2022-04-11 03:08] HadesDCH opened #173 "New version 2.23 deployment - unregged users disconnect."
Regs are ok but unreg users all get disconnect with error message     >>> no profile
Same with pinger  - soft does not parse client infos.

[2022-04-11 13:34] Sopor opened #174 "cmd_reg.lua - New look when registered a user, is horrible for users to understand"
The new look of the registration that will be sent to the user is way too complex for a regular user to understand.

[code]

Users already struggles to add an account to `Favorite hubs`. Now it will be even harder for them.

Every address that use `adcs` should have the keyprint at the end and not as an `optional Keyprint available` were you have to copy/paste and manually merge the address and ke

[2022-04-11 14:55] Kungen123 commented on #174
so true Sopor i think this will make more problems for the users

[2022-04-11 15:07] pulsar-de commented on #174
I have to think about it...

[2022-04-11 19:30] Nordanvind commented on #174
Have to agree with Sopor and Kungen123, this looks alot worse than what is used today. It will most likely cause more problem then help users.

	- optional login with Keyprint:

	adcs://your.host.addy.org:5001/?kp=SHA256/YHQ6JVZYKCFZXU3HGPRIXRVVF76GA6QRVFTY6PHHPLRCJF5YHDXQ

Looks better, but if the hub is configured with keyprint it should only display the keyprint login string

[2022-04-13 23:24] pulsar-de commented on #174
OK,  i think i have now found a middle way that also takes your wishes into account.

fixed with: f1f13ff7099a42a5070262bba2773b0460498cbb

[2022-04-13 23:25] #174 closed, assigned to pulsar-de

[2022-04-14 00:39] Tantrix opened #175 "2.23 x86"
Is there x86 Windows version? My netbook can't run x64 apps.

[2022-04-14 00:47] pulsar-de commented on #173
fixed with: 09b4728a49263a4dc1d5cf40bbaa913bbbd705ec

for a quick an dirty fix you can do the following:

open `core/hub.lua` and search:
[code]
then replace with:
[code]

[2022-04-14 00:48] #173 closed, assigned to pulsar-de, blasti

[2022-04-14 02:16] HadesDCH commented on #173
Using source from git. v 2.24 RC1 unregged users bug seems to be fixed however not the pinger:

[22:12] <[US]HubSecurity> [ FAILED AUTHENTICATION ]--> User:  Helsinki.v.11  |  IP:  <UNKNOWN>  |  CID:  TALLJIMTACE575FPNO7R32CLL54HO24LRDSMLDY  |  Reason:  No CID/PID/NICK/IP found in your INF.

Here is coded INF for ping that is being sent to hub:
 BINF 3MOP ID2T56TPEQU65NYFP5Z3ML2DH43XNNPHRU6PSPXKI

[2022-04-14 02:19] HadesDCH commented on #173
Is this because of Pinger nick change?

[2022-04-14 15:08] HadesDCH opened #176 "Pinger gets disconnect in versions 2.23+"
"errcode":220}
Error: code 20: No CID/PID/NICK/IP found in your INF.

[2022-04-14 17:38] blasti commented on #176
Your pinger INF seems to miss one of the following named parameters: NI, ID, PD, I4 oder I6.

Can you provide an example session of your pinger connecting to luadch?

[2022-04-14 17:45] blasti commented on #175
No. I would need to setup a virtual machine with Win32 and a 32-bit compiler toolchain. Maybe you should try it:

0) Checkout latest luadch source via git.
1) Follow the instructions to install the necessary toolchain on your netbook (use x86 versions instead of x64): https://github.com/luadch/luadch/blob/09b4728a49263a4dc1d5cf40bbaa913bbbd705ec/compile_with_mingw.bat#L3
2) Adjust the path setting

[2022-04-14 22:27] Sopor commented on #175
@Tantrix It isn't that easy as follow those instructions. You will have to struggle with a few issues on the way.

I have compiled a version for you. See if you get it to run before you go live with it.

[Luadch-2.24-RC1-2022-04-14-Win-x86_32.zip](https://github.com/luadch/luadch/files/8492581/Luadch-2.24-RC1-2022-04-14-Win-x86_32.zip)

[2022-04-14 23:02] HadesDCH commented on #176
Dexo's goping. Nothing changed in the go-ping itself - it gets disconnected by new LUADCH release. It pings older versions fine. Same INF and everything.
My own pinger seems to work as far as connection goes,  but i get the message from LUADCH about failed authentication as hub admin from hub security bot. No PID/CID/NICK/IP found in pingert's INF. Wchich is false - pinger sends correct INF - in f

[2022-04-14 23:19] HadesDCH commented on #176
[ <-- ] HSUP ADBASE ADTIGR ADPING
[ --> ] ISUP ADBAS0 ADBASE ADTIGR ADKEYP ADOSNR ADPING ADUCM0 ADUCMD
[ --> ] ISID E5V3
[ <-- ] BINF E5V3 ID2T56TPEQU65NYFP5Z3ML2DH43XNNPHRU6PSPXKI PD5AC3A3B5T3NQEDCXESX7EVPAGFQ55ONBUQKS7IA NIFinland DEHelsinki SL3 SS8636211822332 SF100 HN1 HR0 HO0 VE++\s0.867 US5242 I40.0.0.0 SUADC0,TCP4,UDP4
[ --> ] IINF NIU.S.A APLUADCH VEv2.24\s[RC1] DELet's\sgo\sBrandon....\s\

[2022-04-15 19:17] Sopor commented on #175
It seems that you can use Windows x64 if you install and use the 32-bits MinGW and OpenSSL.

You can set the path in the bat file very easy, but don't forget to include Windows and System32 :)
[code]

[2022-04-15 19:43] Sopor opened #177 "server.lua: function 'wrapserver': wrong sslctx parameters"
If i only run Luadch in Windows without changing any settings i will get these error messages:
[code]

It should have been better to show a message that the hubowner understand.
If i change "use_ssl = true" to false it disappear, so it must be easy to detect it and show a message instead.

You need to generate/use a cert or disable SSL "use_ssl = false" in the cfg.tbl.

[2022-04-15 21:58] Sopor commented on #141
@pulsar-de
It seems that this isn't fixed. I still get:
[code]
when running Accinfo by right clicking on a user and select Show / Accinfo.

In main i also get this message: `Unknown command. Check leading spaces and syntax.`

If i run `+accinfo nick <nick>` in main it works. Same if i run `+accinfo sid <sid>`

Tested in Luadch 2.23 RC9, 2.23, 2.24 RC1 with the same result.

[2022-04-15 23:00] pulsar-de commented on #177
`If i only run Luadch in Windows without changing any settings...`

If someone starts Luadch without even taking a look at the README or the cfg.tbl, then it's their own fault, isn't it?

The [README](https://github.com/luadch/luadch/blob/8aa198dbc90ed0301c5b2e3a3eab1f21b83b456d/docs/README#L10) explains what to do and the [cfg.tbl](https://github.com/luadch/luadch/blob/8aa198dbc90ed0301c5b2e3a3ea

[2022-04-15 23:42] Tantrix commented on #176
`[ FAILED AUTHENTICATION ]--> User:  [fly]Dolly_3tVA  |  IP:  <UNKNOWN>  |  CID:  6NJX53F5OVCKQX7B25GLWPYMEAQWTAYXMRQT32Y  |  Reason:  No CID/PID/NICK/IP found in your INF.`

`[ FAILED AUTHENTICATION ]--> User:  Helsinki.v.11  |  IP:  <UNKNOWN>  |  CID:  N2AU5HV76WLEC7G3DFYOIYSSWTZEM4YSVBBA7YI  |  Reason:  No CID/PID/NICK/IP found in your INF.`

Yepp, it may happen with no clear reason.

2.24 RC1

[2022-04-15 23:52] Tantrix commented on #175
@Sopor Yes, it works, thx.

Not sure however if I gonna try compiling luadch by myself soon (:

[2022-04-16 08:55] blasti commented on #177
I think @Sopor has a point. Displaying a more helpful error message would be an improvement.

[2022-04-16 08:59] blasti commented on #176
Those clients don't send I4 or I6 fields in their INF. Reading the ADC protocol spec, it seems to be an optional parameter. I will fix this.

@HadesDCH where can one find "Dexo's goping"?

[2022-04-16 13:57] HadesDCH commented on #176
https://github.com/direct-connect/go-dcpp/tree/master/cmd/dcping

[2022-04-17 02:08] Tantrix commented on #176
` [ FAILED AUTHENTICATION ]--> User:  TEPinger_U8FtOf  |  IP:  <UNKNOWN>  |  CID:  2ITS5MUSNGC6F5W7K3CI4X6SUFBFNPI3RKSJJ6Q  |  Reason:  No CID/PID/NICK/IP found in your INF.`

Yepp, the pinger can not enter.

[2022-04-18 21:17] Tantrix opened #178 "Guest"
What is level 10 (guest) profile good for?

[2022-04-19 10:05] blasti commented on #178
Guest is the lowest permission level a registered user can have. It is intended for e.g.
- chat only users in reg only hubs, which don't search/download
- brand new users in reg only hubs, which need to level up

[2022-04-19 10:05] #178 closed, assigned to nobody

[2022-04-19 16:36] pulsar-de commented on #175
OK, i think then we can put the lid on the top here ;)

[2022-04-19 16:36] #175 closed, assigned to Tantrix

[2022-04-20 15:05] Sopor opened #179 "cmd_setpass.lua - change own password is still visible in RC menu"
If `cmd_setpass_permission_own_pw` is set to `false` for a certain level, it is still possible to run the command
[code]

It is even visible in the RC menu, `About You / change Password`.

If i try to change the password it is not possible `You are not allowed to use this command`, so it is working as it should and prevent the user from changing his own password, but if a command is not available

[2022-04-23 14:37] #179 closed, assigned to pulsar-de

[2022-04-23 17:25] pulsar-de commented on #176
- Compiled "dcping-0.26.2" under "Win x64"
- Started Testhub...
- Using dcping with command:  `dcping ping --debug adc://127.0.0.1:5000`
- Got the following output:

[code]

Can't find "ADPING" flag in "HSUP"...

[2022-04-23 18:46] pulsar-de commented on #176
Changed: https://github.com/direct-connect/go-dcpp/blob/0332759e7a0b6e0492171a383e03c34c3d1f4394/adc/ping.go#L45

    from: //adc.FeaPING: true,
    to: adc.FeaPING: true,

Compiled again and pinged with "ADPING" results in:

[code]

Now you get a little more information, just like pingers get from Luadch, but there is still an "ISTA 220" disconnect.
The reason is simple: **The pinger does not sen

[2022-04-23 19:42] blasti commented on #176
Yes, as I mentioned above, according to the ADC spec it doesn't need to.

[2022-04-25 13:05] Tantrix opened #180 "cmd_sslinfo.lua"
Seems to be showing my own SSL info instead of user's.

2.24 RC1

[2022-04-25 13:32] pulsar-de commented on #180
Yes, indeed. Thanks.

[2022-04-25 13:34] #180 closed, assigned to pulsar-de

[2022-04-29 06:47] HadesDCH commented on #176
Got some code implemented to get connected properly. New LUADCH releases require both I4 and I6 parameters specified in BINF. Meaning dropping support for I4 after all. Can't connect without I6 or is it a bug still.
Anyways - pinger is recoded to work and get the missing SS  hub share as well. Would be nice to have it next release although i know its optional - it would save  some time coding for

[2022-04-29 16:38] Tantrix opened #181 "Can't ban forever"
For some reason, I can't ban a user forever, just for a time.

[code]
but
[code]
[code]
2.24 RC1

[2022-04-29 23:20] Sopor commented on #181
Ban forever is removed https://github.com/luadch/luadch/commit/86d3a2cdecf1c97ee29ceb12bec57d0836cec6df even if it still works. I have some issues with it as you already know :(

If you want to ban forever you can simple user delreg instead and give them a reason and the nick will be blocked and can't be used.

[2022-04-30 14:41] pulsar-de commented on #146
Any news on the problem?

[2022-04-30 14:45] pulsar-de commented on #181
In reg hubs there would be the alternative of delreg with a blacklist entry, but i admit that a forever ban makes sense in public hubs...

[2022-04-30 17:57] Tantrix commented on #146
Nope, none.

[2022-04-30 17:59] Sopor commented on #181
Even if you ban a user forever the user can easy change the CID and login again. IP address can sometimes be a little bit harder but still possible to change quite easy.

[2022-04-30 18:07] Tantrix commented on #181
You never guess.

[2022-04-30 18:10] pulsar-de commented on #146
Ok, thx.

[2022-04-30 18:10] #146 closed, assigned to pulsar-de

[2022-05-03 03:46] Sopor opened #182 "cmd_nickchange.lua - TL-1"
When you change the nick of a user there is no reason to send TL300 to the user because the user must manually change the nick before he can login again. It will only be a bunch of annoying messages in the OpChat.

Please change it to TL-1.

[2022-05-03 07:42] pulsar-de commented on #182
True, thanks m8.

[2022-05-03 07:47] pulsar-de commented on #182
fixed with: f06dc2bc46f8018a1cb957b258c1d49e462dfa0c

[2022-05-03 07:47] #182 closed, assigned to pulsar-de

[2022-05-03 21:27] Tantrix opened #184 "cmd_restart.lua countdown mode glitch"
[code]

Happens after +reload command used.

2.24 RC1

[2022-05-04 23:52] Sopor commented on #184
I have seen it on number 4, but have you tried RC2?

[2022-05-07 22:04] Tantrix commented on #184
Well, no.

[2022-05-07 23:33] Sopor commented on #184
I also got it in RC1. I haven't seen it in RC2 yet, but I haven't made so many shutdowns yet either :)

[2022-05-09 18:25] Sopor opened #185 "Include email address in ACCOUNT when register a new user"
When register a user it will show show the account info that i can send to the user:
[code]

In cfg.tbl i can add an email address `hub_email = "hub@mail.com"` and that is nice, but it would be even nicer if there was an option to include it in the account info i send to a user.

Maybe add the `Hub email: hub@mail.com` below the keyprint...

[2022-05-09 18:35] Kungen123 commented on #185
yes i think that be nice

[2022-05-12 00:46] pulsar-de commented on #185
added with: 66d90cc953499a2a0797017ddef17fc70baa2202

[2022-05-12 00:46] #185 closed, assigned to pulsar-de

[2022-06-21 21:59] stualoo opened #187 "Hub uptime issue - minutes counting as seconds"
Hi guys,
Not sure if you can help!
Today I git cloned and compiled the latest v2.24 RC2 on my RPi4.
Compiling looks to have gone OK (I can paste the compiler output if needed).
The hub seems to run fine, except the hub 'Uptime' counter is counting a **minute** as a **second**.

`[21:56:48] <[BOT]HubSecurity> This server is running Luadch v2.24 [RC2] [TLS: v1.3] (Uptime: 0 days, 0 hours, 3 minutes,

[2022-06-22 08:32] stualoo commented on #187
Attached is output during compiling.
[compiler.txt](https://github.com/luadch/luadch/files/8955895/compiler.txt)

There are a couple of **warning** messages in there but I don't really have much knowledge in this area to know if it is a major thing or even related? :-) Maybe I have dependency issue or missing something needed...

Cheers Stu

[2022-06-22 23:18] Tantrix commented on #172
Just came to mind.

1) Due to its nature, NATT SU should be checked for passive users only. Passive users are those whose **TCP4(6)** and **UDP4(6)** SU are missing.
2) Correct SU for NAT traversal feature is **NAT0**

[2022-07-12 21:59] Sopor opened #188 "cmd_usercleaner.lua - Remove blocked users from etc_trafficmanager.tbl"
When deleting a user that exists in the traffic manager the user will also be removed from the block list (#95).

If i instead use `cmd_usercleaner.lua` the user will not be removed from the `etc_trafficmanager.tbl`

[2022-08-01 22:30] Sopor opened #189 "Registered users suddenly loses their accounts"
It seems that Luadch will suddenly lose registered users.

I have been contacted by several Hub Owners the past month with the same issue and now i can verify that it is happening for me too.

~~It also seems that the `user.tbl.bak` never gets updated (verified on four different hubs).~~ Moved to #191

I'm running 2.24 RC3 on Linux.

[2022-08-02 04:30] ryehamstrawberry commented on #189
Posting to confirm this is a fairly major issue that has been plaguing me too and also seemingly affects all account modifications in general.

The following account changes appear to execute successfully but then later (within ~24h or so) the changes revert, from:
- !reg;
- !delreg;
- to !ban.

I have experienced users receiving their account one day then losing them the next to users having thei

[2022-08-04 18:52] Sopor opened #190 "Hub update need to count complete/session simultaneous"
The hub uptime complete is not counting hours until you shutdown/restart the hub (i assume it takes the session time and add to the complete time, correct?)
        Uptime (complete):  	0 years, 0 days, 0 hours, 0 minutes, 0 seconds
        Uptime (session):  	0 years, 5 days, 10 hours, 39 minutes, 29 seconds

If for some reason Luadch crash or i get a power failure the time will get lost and if i

[2022-08-04 18:54] Sopor opened #191 "`user.tbl.bak` not working"
The `user.tbl.bak` never gets updated (verified on four different hubs).

I have `user.tbl.bak` files that are several month old.

[2022-08-04 19:09] Sopor opened #192 "usr_uptime.lua - show years when a month can only have 31 days 😁"
Years was added to the uptime and useruptime (I'm not sure when it was added, but it was quite recently) and that is a great thought, but why add it to the useruptime when a month only can have maximum of 31 days?
[code]

[2022-08-04 19:26] Sopor opened #193 "usr_uptime.lua - user uptime is showing weird uptimes"
This is how the user's uptime was 2020
[code]
As you can see it  was almost correct for a user connected 24/7.

This is how the user's uptime was 2022
[code]
The user is still connected 24/7.

[2022-08-06 05:24] maldond commented on #191
Same here on v2.24 RC3 (windows 10)

[2022-08-08 21:12] Sopor commented on #191
It seems to work on `Luadch v2.23 [RC9]`

[2022-08-12 13:51] Kungen123 commented on #189
when will this be fixed ?

[2022-08-12 21:28] pulsar-de commented on #191
The backup of the `user.tbl` is always updated when the hub is started (even with a restart). This works as it should (testet with 2.24 [RC3] under Windows 10 and Linux). Please test that. If that doesn't work, it may be due to missing write permissions (especially under linux).

An additional update would be conceivable whenever a new user is registered. I think that would be a useful addition

[2022-08-12 21:39] pulsar-de commented on #189
Unfortunately i don't want to be able to reproduce this. If anyone knows a way to reproduce it please post.

[2022-08-12 22:28] pulsar-de commented on #187
This happened due to adjustments in the `formatseconds()` function in `util.lua`. It's fixed in `v2.24 RC4`.

[2022-08-12 22:28] #187 closed, assigned to pulsar-de

[2022-08-12 23:50] pulsar-de commented on #188
You're absolutely right, that should of course be part of it.

[code]
Fixed: f87c86163d58b0e871b4ab5f9dfcb0a12acf2d09

[2022-08-12 23:50] #188 closed, assigned to pulsar-de

[2022-08-13 00:15] pulsar-de commented on #190
Fixed with: f5317c057b7b7b8421cbf815a93d6e6f1273db65
and: 169250ab70702957092ad02a4cb38a9745e11736

[2022-08-13 00:15] #190 closed, assigned to pulsar-de

[2022-08-13 01:02] pulsar-de commented on #191
The `user.tbl.bak` is now updated when a user is registered or deleted.

[2022-08-13 01:02] #191 closed, assigned to pulsar-de

[2022-08-13 01:07] pulsar-de commented on #184
Still any problems with the v2.24 RC4?

[2022-08-13 18:55] Sopor commented on #191
It is not working as it should. I even wrote it is working on older version, but not on 2.24.

Do you really think we would report it if it was working?

[2022-08-13 19:12] pulsar-de commented on #191
Have u tried the new one? Use a clean and fresh 2.24 RC4 then try:

- register some users
- delreg one of them
- make a restart / shutdown

Check the user.tbl / user.tbl.bak after each step...

Works fine here on Windows and Linux.

[2022-08-13 19:17] Sopor commented on #189
Sometimes it can take week(s) before it happens and sometimes a couple of hours, so it is not easy to explain how to reproduce it.

[2022-08-13 19:28] Sopor commented on #191
So, you mean it won't update when you register or delete a user? Yes, now it do it, but before that?

[2022-08-13 19:34] pulsar-de commented on #191
I updated my online Hub and use a local testhub (clean). On both it works fine...

That's why I assumed you should test it with a clean version to see if it works for you. If it works, then it proves that you missed something when "updating" your existing version.

[2022-08-13 19:43] Sopor commented on #191
I assumed it did it on every changes you made to the `user.tbl` and not only when you restart/shutdown the hub.

That explains why it didn't worked. I will try the new version.

[2022-08-13 19:57] Sopor commented on #189
Here is one user that suddenly disappeared

2022-08-01 @ 23:01 the user got disconnected (i assume it was "An existing connection was forcibly closed by the remote host") because the user logged in again 23:01 or i should say that he tried to login again but the account was gone.
[code]

[2022-08-14 09:29] Kungen123 commented on #189
yes this is a big problem when we lose accounts

[2022-08-18 16:23] ryehamstrawberry commented on #189
- Run a copy of Luadch v2.24 RC2/RC3 (note: I run pm2offliners and freshstuff scripts but neither of those should matter).
- Register an account then have someone login under the new credentials.
- Have the new account remain online for a time period while performing some activities such as browse filelists, searches, or download and allow other hub activity to occur (other join/parts, chat).
- Lo

[2022-08-18 21:21] Toansy commented on #189
Yes this is a big problem. We are losing accounts

[2022-08-30 03:30] Cmdrd commented on #169
Couple of years later and running into this issue again and unable to determine how it was resolved last time. The libraries and everything are where they are supposed to be but still getting the same issue.

[2022-08-30 22:48] Cmdrd commented on #169
Having this issue even with just executing in the extracted downloaded file. All of the other libraries look like they're loading except for SSL/LUASEC @blasti

[2022-08-31 03:59] Cmdrd commented on #169
Further debugging, getting the following:

`error loading module 'ssl.core' from file '././lib/luasec/ssl/ssl.so':
        libssl.so.1.1: cannot open shared object file: No such file or directory`

[2022-08-31 10:57] Cmdrd commented on #169
Alright, so this is everything I did to get this fixed is below for anyone else running into problems as I think debug logging should be more expansive to tracking down issues like this. As well this looks like a potential issue with Ubuntu 22.04, so anybody running into this problem, it is fixable, but the Ubuntu maintainers of the OpenSSL package look like they may have removed the libssl1.1/lib

[2022-09-06 08:50] corruptview commented on #189
It sure is

[2022-09-07 01:35] dcbeelinekz2 opened #194 "Как сделать пакет под OpenWrt?"
Нужна компиляция под прошивку роутера, спасибо

[2022-09-14 14:29] ryehamstrawberry commented on #189
There is much evidence this bug is affecting many users.

Have you tried following my advice in order to reproduce the bug?

[2022-09-22 14:24] ryehamstrawberry commented on #193
I have also experienced this issue.

More specifically, I noticed that when I issued the command +usercleaner showall, users that were currently and have been connected were being listed as being offline.

Restarting the server seemed to remove said users from the offline user list, but I'm sure this uptime bug still exists overall, consequently affecting other functions that rely on accurate upti

[2022-09-22 14:33] ryehamstrawberry commented on #181
Please reimplement "forever" bans.

Yes, you can always just +delreg user accounts but there are situations where it's useful to save permanent bans with reasons, too.

The reason accounts are not auto-banned when they are removed is because both +delreg and +ban serve two different functions, otherwise you would combine them, which you don't.

Just because the dev team might not see a need for a

[2022-09-27 08:31] ryehamstrawberry opened #195 "delreg command does not relay reason to user"
Removing user account fails to relay the reason to the deleted user, instead only documented locally (i.e. only communicated to OPsChat, etc.).

The delreg reason should be visible to both the deleted user and documented server-side.

---
Version: Luadch v2.24 [RC4]i.e
OS: Linux

[2022-09-27 08:47] ryehamstrawberry commented on #57
I second this request.

[2022-09-27 09:37] psychoocysp commented on #195
I think this could be an easy fix. Starting at line 281:
[code]

Change to:

[code]

[2022-10-03 04:59] Sopor commented on #189
It seems that we have found something that can be useful to find what is going on.

I got a report that a user was deleted from a hub when a new month started and if you look at mine report it was also on the 1st: `[2022-08-01 23:01] [ FAILED AUTHENTICATION ]  |  Reason:  Registered users only.`.

So, be extra observant at the end of the month.

[2022-10-04 10:27] maldond opened #196 "add --by Last Seen--"
This is an enhancement request.
Add the command "by LAST SEEN" to cmd_userlist.lua
Thanks!

[2022-10-10 05:54] ryehamstrawberry opened #197 "AirDC++ v4.12b NFO viewing error"
Although I personally have not encountered this issue, I keep seeing users complain about it.

Description (user's report):
_when u read nfo, u see 100+ random nicknames on mainchat, and then "File Not Available"_ (sic)
_But if doing search or nfo check, random hub show list of 100+ of users and next to the nick "File Not Available"_ (sic)

Note:
I posted this issue to the AirDC++ repo and [I was

[2022-10-12 10:22] Sopor opened #198 "use_keyprint and keyprint_hash won't work as it should"
It seems that

[code]
won't change when running OpenSSL 3.x.

It seems to be working as it should but it will not change to `true` and no keyprint will be added to `keyprint_hash`.

I have no OpenSSL 1.1.1 to test with 2.24 [RC4], so it could be something else.

Luadch 2.24 [RC4] **(only cert files and keyprint was added)**

[2022-10-12 11:21] Sopor commented on #198
I did some testing on Luadch v2.24 [RC2] and OpenSSL 1.1.1n and it will not change or add anything on these two:
[code]

If i understand this correctly, use_keyprint should change to `true` and the keyprint should be inserted here `<KEYPRINT>`.

At least that is what i have seen happen before.

[2022-10-12 11:53] Sopor commented on #198
I did found this comment in etc_keyprint.lua
`activate keyprint usage, but do not save it into cfg.tbl`.

So, this is the correct behavior? Nothing should be changed in the cfg.tbl file?
[code]

If these three lines are not in use anymore, why not remove them completely?

[2022-10-13 18:08] Sopor commented on #62
Any fix for this yet?

[2022-10-13 18:15] Sopor opened #199 "usr_uptime.lua - will not create UTF-8"
If the file usr_uptime.tbl is missing or broken it will create a new file but this file is not UTF-8 and it will show this error message:
[code]
After converting it to UTF-8 the error message is gone.

Luadch 2.24 [RC4]

[2022-10-15 16:01] ryehamstrawberry opened #200 "SECURITY WARNING: received a DSCH message that should have been sent to a different user."
As of late I've received many user reports claiming to have seen this message:
_*** SECURITY WARNING: received a DSCH message that should have been sent to a different user. This should never happen. Please inform the hub owner in order to get the security issue fixed._

Unfortunately, none of the users are able to report what seems to be triggering the message.
I'm hoping others will reply with t

[2022-10-16 04:22] ryehamstrawberry opened #201 "[Feature] !topic command should return the current topic to hub mainchat (IRC behavior)"
I'm aware the /topic command can be used to locally display the active hub topic, but it would be nice to publicly announce the current topic in mainchat if a bare !topic command is issued by someone with access.

For those familiar with IRC networks with ChanServ, this is the standard behavior when an operator or above uses !topic and would be a welcome addition to Luadch.

Thank you for consider

[2022-10-16 18:46] Sopor commented on #197
To temporary fix this issue and issue #200 you can use this [etc_trafficmanager.lua](https://github.com/luadch/luadch/files/9795437/etc_trafficmanager.lua.zip)

Download the file and replace your existing file and do a `+reload` and it should be fixed.

[2022-10-22 17:54] Boca-NeedM opened #202 "You are not allowed to use this command."
Action: **Want to reset the records**, (statistics about hubshare/usershare records - !records reset)
Got: **You are not allowed to use this command**. (my level is 80 Admin, but 100 does give same result)
Hub info: NeedM adc://86.107.187.54:5000 or encrypted via adcs://86.107.187.54:5001
Version: Luadch v2.22 RC3 TLS: v1.2

How can i reset the statistics?

Best regards,
Boca

[2022-10-22 23:57] Sopor commented on #202
I'm running 2.24 [RC4] and i can reset my stats
<[BOT]HubSecurity> [command] +records reset
<[BOT]HubSecurity> Hub Records: successfully reset database
<[BOT]HubSecurity> Hub Records: New user amount record: 2

I think you need to [update](https://github.com/luadch/luadch/releases). There are a lot of changes made since [v2.22](https://github.com/luadch/luadch/blob/master/docs/CHANGELOG#L832).

[2022-10-23 07:31] Boca-NeedM commented on #202
Thanks for you reply.
I don't know how to update, just replace the luadch file?
Am i losing my settings?
I'm running the RPi version.

23 okt. 2022 01:57 van ***@***.***:

[2022-10-23 20:16] Sopor commented on #202
You need to replace all those files that have been updated.

The `cfg.tbl` file you need to transfer all your settings to the new `cfg.tbl` file.

According to the devs it is easy to update, but I'm saying the opposite. If you never have done it before it can be a bit tricky to update. Always have a backup if something get messed up.

Some prefer to use WinMerge, but there are other programs for c

[2022-10-24 06:13] Boca-NeedM commented on #202
Thank you very much for this advise!

23 okt. 2022 22:16 van ***@***.***:

[2022-11-20 12:53] ryehamstrawberry opened #206 "pulsar's etc_requests.lua script is missing user opt-out functionality"
I hope this report will be allowed despite not being a direct bug related to Luadch.

As of today, the latest build of [etc_requests.lua (v0.8)](https://github.com/luadch/scripts/blob/master/zip/etc_requests_v0.8%20(multi).7z) does not seem to include the ability for users to opt-out of receiving [CHAT]Requests bot activity, despite the changelog mentioning _"chat is optional (opt out)"_.
It would

[2022-11-27 07:43] Ch0kehold opened #210 "[Feature request] Check that hub_hostaddress is reachable every X hours/days"
I am not entirely up to par in lua scripting, so I would like to request a feature to have the hub bot actively ping the address set in `hub_hostaddress` every X hours or possibly days. If the address is reachable, it simply breaks and does nothing more, while if _**not**_ reachable it could send a message to `bot_opchat` (if `bot_opchat_activate` is `true` of course) or otherwise post a message i

[2022-11-27 12:16] Sopor commented on #210
That sounds like a good idea.

If you don't want to wait you can registered for a free account on [UptimeRobot](https://uptimerobot.com) and it will send a message to an email address or you can use an RSS Feed and monitor the hub when it goes up and down.